# Top arrival airports

### Prepare booking sample

In [1]:
cd /home/gonzalo/Data/challenge/

/home/gonzalo/Data/challenge

In [2]:
pwd

'/home/gonzalo/Data/challenge'

In [3]:
% ll

total 1018216
-rwxr-x--- 1 gonzalo 554970628 mar 13  2018 bookings.csv.bz2*
-rwxrwxrwx 1 gonzalo   4232732 ene 25 17:18 sample_bookings.csv*
-rwxrwxrwx 1 gonzalo    244720 ene 25 17:19 sample_searches.csv.bz2*
-rwxr-x--- 1 gonzalo 483188920 mar 13  2018 searches.csv.bz2*

### Get familiar with data

In [4]:
import pandas as pd

In [9]:
booking = pd.read_csv('sample_bookings.csv', sep='^')
print(booking.size)

379962

In [10]:
#Otra forma de hacerlo sin hacer el sample

booking = pd.read_csv('sample_bookings.csv', sep='^', nrows=10000)
print(booking.size)

379962

In [12]:
type(booking)

pandas.core.frame.DataFrame

In [22]:
pd.set_option('display.max_columns', None)

In [25]:
booking.sample(5)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
3157,2013-03-04 00:00:00,1V,US,254ec21001bbfe5a0f02057351d624fd,e028c558a1b45b1a732853b36de45837,5c9b04780dedd543372adbf6c9fcd1d4,2013-03-04 00:00:00,14327,0,BOS,BOS,US,PVG,SHA,CN,BOS,BOS,US,NRT,TYO,JP,BOS,BOS,US,BOSNRT,BOSTYO,JPUS,1,NRTBOS,TV,X,Y,2013-04-23 11:20:00,2013-04-23 11:47:06,1,2013,3,NULL
8324,2013-03-03 00:00:00,1P,PK,f7f275cdb08eb51823c57847fe03cc3c,5206f584cc88e1040e08fae5314f55ca,dd29cb67e926b6c7c38a25bc25f8390f,2013-02-20 00:00:00,250,2876,JED,JED,SA,KHI,KHI,PK,KHI,KHI,PK,JED,JED,SA,KHI,KHI,PK,JEDKHI,JEDKHI,PKSA,1,JEDKHI,DG,T,Y,2013-04-10 14:00:00,2013-04-10 20:10:59,-2,2013,3,NULL
6118,2013-03-28 00:00:00,1S,GB,8099fbbe7f224996a696749b6b2fa36d,f5c368a57aa98f27e35b90599780c58a,87d967fe6cbba76ba54e84ebda876faf,2013-03-28 00:00:00,1658,0,LHR,LON,GB,DUS,DUS,DE,LHR,LON,GB,LHR,LON,GB,DUS,DUS,DE,DUSLHR,DUSLON,DEGB,1,LHRDUS,LK,L,Y,2013-04-11 17:25:00,2013-04-11 19:48:24,1,2013,3,NULL
1429,2013-03-30 00:00:00,1G,AE,a10b798b26c0dd4cbe1653588488054f,051c915aa85c805eff9c1e7ee7173e91,51db4ac06a7ecdc83042d564830f3a72,2013-03-30 00:00:00,138382,0,DXB,DXB,AE,HYD,HYD,IN,DXB,DXB,AE,HYD,HYD,IN,DXB,DXB,AE,DXBHYD,DXBHYD,AEIN,1,HYDDXB,OU,M,Y,2013-09-09 21:50:00,2013-09-10 00:07:39,2,2013,3,NULL
9857,2013-03-29 00:00:00,1V,US,ba8a6b068b8c924e60aa68a95ac2afac,94396e7126fcbfb964e66eeea78aa47f,9682ab13b4af63dd2d07f2742551fbe0,2013-03-29 00:00:00,2408,10492,CMH,CMH,US,NRT,TYO,JP,NRT,TYO,JP,CMH,CMH,US,ORD,CHI,US,CMHORD,CHICMH,USUS,0,CMHORD,KK,Y,Y,2013-03-29 08:45:00,2013-03-29 09:06:32,1,2013,3,NULL

In [26]:
booking.count()

act_date               9999
source                 9999
pos_ctry               9999
pos_iata               9999
pos_oid                9999
rloc                   9999
cre_date               9999
duration               9999
distance               9999
dep_port               9999
dep_city               9999
dep_ctry               9999
arr_port               9999
arr_city               9999
arr_ctry               9999
lst_port               9999
lst_city               9999
lst_ctry               9999
brd_port               9999
brd_city               9999
brd_ctry               9999
off_port               9999
off_city               9999
off_ctry               9999
mkt_port               9999
mkt_city               9999
mkt_ctry               9999
intl                   9999
route                  9999
carrier                9999
bkg_class              9999
cab_class              9999
brd_time               9999
off_time               9999
pax                    9999
year                   9999
month                  9999
oid                    9999
dtype: int64

In [28]:
booking.describe()

            duration      distance         intl          pax    year   month
count    9999.000000   9999.000000  9999.000000  9999.000000  9999.0  9999.0
mean    20209.746075    455.608861     0.596260     0.516152  2013.0     3.0
std     42243.233482   1738.891068     0.490671     1.783970     0.0     0.0
min        59.000000      0.000000     0.000000   -25.000000  2013.0     3.0
25%      3339.000000      0.000000     0.000000    -1.000000  2013.0     3.0
50%      7721.000000      0.000000     1.000000     1.000000  2013.0     3.0
75%     19077.000000      0.000000     1.000000     1.000000  2013.0     3.0
max    488131.000000  18481.000000     1.000000    25.000000  2013.0     3.0

In [30]:
booking.shape

(9999, 38)

In [32]:
booking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 38 columns):
act_date               9999 non-null object
source                 9999 non-null object
pos_ctry               9999 non-null object
pos_iata               9999 non-null object
pos_oid                9999 non-null object
rloc                   9999 non-null object
cre_date               9999 non-null object
duration               9999 non-null int64
distance               9999 non-null int64
dep_port               9999 non-null object
dep_city               9999 non-null object
dep_ctry               9999 non-null object
arr_port               9999 non-null object
arr_city               9999 non-null object
arr_ctry               9999 non-null object
lst_port               9999 non-null object
lst_city               9999 non-null object
lst_ctry               9999 non-null object
brd_port               9999 non-null object
brd_city               9999 non-null object
brd_ctry               9999 non-null object
off_port               9999 non-null object
off_city               9999 non-null object
off_ctry               9999 non-null object
mkt_port               9999 non-null object
mkt_city               9999 non-null object
mkt_ctry               9999 non-null object
intl                   9999 non-null int64
route                  9999 non-null object
carrier                9999 non-null object
bkg_class              9999 non-null object
cab_class              9999 non-null object
brd_time               9999 non-null object
off_time               9999 non-null object
pax                    9999 non-null int64
year                   9999 non-null int64
month                  9999 non-null int64
oid                    9999 non-null object
dtypes: int64(6), object(32)
memory usage: 2.9+ MB

In [38]:
new_columns = booking.columns.str.strip()
new_columns

Index(['act_date', 'source', 'pos_ctry', 'pos_iata', 'pos_oid', 'rloc',
       'cre_date', 'duration', 'distance', 'dep_port', 'dep_city', 'dep_ctry',
       'arr_port', 'arr_city', 'arr_ctry', 'lst_port', 'lst_city', 'lst_ctry',
       'brd_port', 'brd_city', 'brd_ctry', 'off_port', 'off_city', 'off_ctry',
       'mkt_port', 'mkt_city', 'mkt_ctry', 'intl', 'route', 'carrier',
       'bkg_class', 'cab_class', 'brd_time', 'off_time', 'pax', 'year',
       'month', 'oid'],
      dtype='object')

In [39]:
booking.columns = new_columns

In [41]:
list(booking.columns)

['act_date',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid',
 'rloc',
 'cre_date',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time',
 'off_time',
 'pax',
 'year',
 'month',
 'oid']

### Select the columns of interest

In [42]:
columns_selected = ['arr_port', 'pax', 'act_date']

In [44]:
booking = pd.read_csv('sample_bookings.csv', sep='^', usecols=['year', 'pax', 'arr_port'])

In [47]:
booking.sample(5)

      arr_port  pax  year
8687  HYD         1  2013
706   MAA        -1  2013
3332  GUM        -2  2013
9068  EDI         1  2013
5536  IKA        -1  2013

### What to do with NaN

In [49]:
booking = booking.dropna()

### Ready to code

In [89]:
booking = pd.read_csv('sample_bookings.csv', sep='^', usecols=['year', 'pax', 'arr_port'])
booking = booking.dropna()

### Make a plan

In [86]:
# 1. filtrar 2013
# 2. del de year column
# 3. groupby arr_airport
#     airport --> pax
# 4. sumar
# 5. sorted_value
# 6. head de las 10

### Keep coding

In [91]:
booking = pd.read_csv('sample_bookings.csv', sep='^', usecols=['year', 'pax', 'arr_port'])
booking = booking.dropna()
booking = booking[booking['year'] == 2013]
del booking['year']
by_airport = booking.groupby(['arr_port'])['pax'].sum().sort_values(ascending=False).head(10)
by_airport

arr_port
HKG         112
LGA          95
ORD          94
JFK          92
SFO          91
LAX          91
MCO          90
DCA          82
DEN          79
LHR          76
Name: pax, dtype: int64

### Adjust the code for BigData

In [98]:
booking = pd.read_csv('sample_bookings.csv', sep='^', usecols=['year', 'pax', 'arr_port'], iterator=True)
booking

In [99]:
booking0 = booking.get_chunk(6000)
booking0.shape

(6000, 3)

In [100]:
booking1 = booking.get_chunk(3000)
booking1.shape

(3000, 3)

In [101]:
booking2 = booking.get_chunk(3000)
booking2.shape

(999, 3)

In [103]:
#Cuando ya no quedan, da error
booking3 = booking.get_chunk(1)
booking3.shape

StopIteration:

### Otra forma de hacerlo, es diciendole el chunksize

In [107]:
booking = pd.read_csv('sample_bookings.csv', sep='^', usecols=['year', 'pax', 'arr_port'], chunksize=1000)

In [108]:
type(booking)

pandas.io.parsers.TextFileReader

In [109]:
booking0 = next(booking)

In [110]:
type(booking0)

pandas.core.frame.DataFrame

In [112]:
#Hacemos un loop para que lo haga en el fichero entero
booking = pd.read_csv('sample_bookings.csv', sep='^', usecols=['year', 'pax', 'arr_port'], chunksize=1000)
for i, chunk in enumerate(booking):
    print(chunk.head())
    print("----------------")
    if i==3:
        break

   arr_port  pax  year
0  LHR        -1  2013
1  CLT         1  2013
2  CLT         1  2013
3  SVO         1  2013
4  SVO         1  2013
----------------
      arr_port  pax  year
1000  TPE         3  2013
1001  TPE         3  2013
1002  TPE        -3  2013
1003  TPE         3  2013
1004  TPE        -3  2013
----------------
      arr_port  pax  year
2000  LHE         1  2013
2001  HBE        -1  2013
2002  HBE         1  2013
2003  HBE        -1  2013
2004  ICN        -1  2013
----------------
      arr_port  pax  year
3000  DEN         1  2013
3001  LAX         1  2013
3002  LAX         1  2013
3003  BUF         2  2013
3004  PVG         1  2013
----------------

In [123]:
booking = pd.read_csv('sample_bookings.csv', sep='^', usecols=['year', 'pax', 'arr_port'], chunksize=1000)

sum_all_chunks = pd.DataFrame()

for i, chunk in enumerate(booking):
    b = chunk.dropna()
    b = b[b['year'] == 2013]
    del b['year']
    arr_ports = b.groupby('arr_port')
    chunk_airports = arr_ports.sum()
    sum_all_chunks = sum_all_chunks.append(chunk_airports)

sum_all_chunks.shape

(2078, 1)

In [115]:
sum_all_chunks.head()

          pax
arr_port
ACC         6
ADD         2
AGP         6
ALA         2
ALC         4

In [126]:
sum_all_chunks.head()

          pax
arr_port
ACC         6
ADD         2
AGP         6
ALA         2
ALC         4

In [129]:
sum_all_chunks.reset_index().groupby('arr_port').sum().sort_values('pax',ascending=False).head()

          pax
arr_port
HKG       112
LGA        95
ORD        94
JFK        92
LAX        91

### Codigo final

In [133]:
booking = pd.read_csv('bookings.csv.bz2', sep='^', usecols=['year', 'pax', 'arr_port'], chunksize=300000)

sum_all_chunks = pd.DataFrame()

for i, chunk in enumerate(booking):
    b = chunk.dropna()
    b = b[b['year'] == 2013]
    del b['year']
    arr_ports = b.groupby('arr_port')
    chunk_airports = arr_ports.sum()
    sum_all_chunks = sum_all_chunks.append(chunk_airports)

top_airport = sum_all_chunks.reset_index().groupby('arr_port').sum().sort_values('pax',ascending=False).head(10)
top_airport

              pax
arr_port
LHR       88809.0
MCO       70930.0
LAX       70530.0
LAS       69630.0
JFK       66270.0
CDG       64490.0
BKK       59460.0
MIA       58150.0
SFO       58000.0
DXB       55590.0

### Bonus points

In [135]:
from GeoBases import GeoBase

In [136]:
geoDict = GeoBase(data='ori_por', verbose=False)

In [137]:
type(geoDict)

GeoBases.GeoBaseModule.GeoBase

In [139]:
geoDict.keys()[:10]

['AAA', 'AAA@1', 'AAB', 'AAC', 'AAC@1', 'AAE', 'AAE@1', 'AAF', 'AAF@1', 'AAG']

In [140]:
geoDict.fields

['__key__',
 '__dup__',
 '__par__',
 '__lno__',
 'iata_code',
 'icao_code',
 'faa_code',
 'is_geonames',
 'geoname_id',
 'valid_id',
 'name',
 'asciiname',
 'lat',
 'lng',
 'fclass',
 'fcode',
 'page_rank',
 'date_from',
 'date_until',
 'comment',
 'country_code',
 'cc2',
 'country_name',
 'continent_name',
 'adm1_code',
 'adm1_name_utf',
 'adm1_name_ascii',
 'adm2_code',
 'adm2_name_utf',
 'adm2_name_ascii',
 'adm3_code',
 'adm4_code',
 'population',
 'elevation',
 'gtopo30',
 'timezone',
 'gmt_offset',
 'dst_offset',
 'raw_offset',
 'moddate',
 'city_code',
 'city_name_utf',
 'city_name_ascii',
 'tvl_por_list@raw',
 'tvl_por_list',
 'state_code',
 'location_type@raw',
 'location_type',
 'wiki_link',
 'alt_name_section@raw',
 'alt_name_section',
 '__gar__']

In [141]:
geoDict.get('MAD')

{'__key__': 'MAD',
 '__dup__': ['MAD@1'],
 '__par__': [],
 '__lno__': 7379,
 '__gar__': [],
 'iata_code': 'MAD',
 'icao_code': 'LEMD',
 'faa_code': '',
 'is_geonames': 'Y',
 'geoname_id': '6299345',
 'valid_id': '',
 'name': 'Madrid / Barajas',
 'asciiname': 'Madrid / Barajas',
 'lat': '40.493556',
 'lng': '-3.566764',
 'fclass': 'S',
 'fcode': 'AIRP',
 'page_rank': '0.392784873731',
 'date_from': '',
 'date_until': '',
 'comment': '',
 'country_code': 'ES',
 'cc2': '',
 'country_name': 'Spain',
 'continent_name': 'Europe',
 'adm1_code': '29',
 'adm1_name_utf': 'Madrid',
 'adm1_name_ascii': 'Madrid',
 'adm2_code': 'M',
 'adm2_name_utf': 'Provincia de Madrid',
 'adm2_name_ascii': 'Provincia de Madrid',
 'adm3_code': '28079',
 'adm4_code': '',
 'population': '0',
 'elevation': '609',
 'gtopo30': '575',
 'timezone': 'Europe/Madrid',
 'gmt_offset': '1.0',
 'dst_offset': '2.0',
 'raw_offset': '1.0',
 'moddate': '2012-03-04',
 'city_code': 'MAD',
 'city_name_utf': 'Madrid',
 'city_name_ascii': 'Madrid',
 'tvl_por_list@raw': '',
 'tvl_por_list': (),
 'state_code': '',
 'location_type@raw': 'A',
 'location_type': ('A',),
 'wiki_link': 'http://en.wikipedia.org/wiki/Madrid-Barajas_Airport',
 'alt_name_section@raw': 'es|Aeropuerto de Madrid|=es|Barajas|=de|Flughafen Madrid|p',
 'alt_name_section': (('es', 'Aeropuerto de Madrid', ''),
  ('es', 'Barajas', ''),
  ('de', 'Flughafen Madrid', 'p'))}

In [142]:
geoDict.get('LHR')['name']

'London Heathrow Airport'

In [177]:
top_airport = top_airport[['arr_port', 'pax']]

In [180]:
def get_name_airport(iata_code):
    return geoDict.get(iata_code.strip())['name']

In [181]:
top_airport['Name'] = top_airport['arr_port'].map(get_name_airport)

/home/gonzalo/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [182]:
top_airport

   arr_port      pax                                  Name
0  LHR       88809.0               London Heathrow Airport
1  MCO       70930.0         Orlando International Airport
2  LAX       70530.0     Los Angeles International Airport
3  LAS       69630.0       Mc Carran International Airport
4  JFK       66270.0  John F Kennedy International Airport
5  CDG       64490.0             Paris - Charles-de-Gaulle
6  BKK       59460.0                          Suvarnabhumi
7  MIA       58150.0           Miami International Airport
8  SFO       58000.0   San Francisco International Airport
9  DXB       55590.0           Dubai International Airport

In [183]:
top_airport.to_csv('top_airport.csv', sep='^', index=False)

In [184]:
! cat top_airport.csv

arr_port^pax^Name
LHR     ^88809.0^London Heathrow Airport
MCO     ^70930.0^Orlando International Airport
LAX     ^70530.0^Los Angeles International Airport
LAS     ^69630.0^Mc Carran International Airport
JFK     ^66270.0^John F Kennedy International Airport
CDG     ^64490.0^Paris - Charles-de-Gaulle
BKK     ^59460.0^Suvarnabhumi
MIA     ^58150.0^Miami International Airport
SFO     ^58000.0^San Francisco International Airport
DXB     ^55590.0^Dubai International Airport