# Write a Web Service

In [1]:
from flask import Flask

In [17]:
app = Flask('My first web service')
@app.route('/hello', methods=['GET'])

def get_hello():
    return "Hello from the web service"

In [18]:
app.run()

 * Serving Flask app "My first web service" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [25/Jan/2019 21:46:03] "GET / HTTP/1.1" 404 -
127.0.0.1 - - [25/Jan/2019 21:46:08] "GET /hello HTTP/1.1" 200 -

In [24]:
app = Flask('My second web service')
@app.route('/ret_number/<n>', methods=['GET'])

def get_hello(n):
    try:
        numb=int(n)
        return ("The number is &d" %numb)
    except:
        return ('Not a number')

In [25]:
app.run()

 * Serving Flask app "My second web service" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

In [28]:
app = Flask('My third web service')

@app.route('/ret_number/<n>', methods=['GET'])

def get_number(n):
    try:
        numb=int(n)
        return ("The number is &d" %numb)
    except:
        return ('Not a number')
    
@app.route('/hello', methods=['GET'])

def get_hello():
    return "Hello from the web service"

In [29]:
app.run()

 * Serving Flask app "My third web service" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

In [2]:
import pandas as pd

In [31]:
pwd

'/home/gonzalo/Repos/Master_Data_Science/WEEK-6_Amadeus_Challenge'

In [32]:
cd /home/gonzalo/Data/challenge/

/home/gonzalo/Data/challenge

In [33]:
pwd

'/home/gonzalo/Data/challenge'

In [38]:
top_airports = pd.read_csv('top_airport.csv', sep='^')

In [39]:
top_airports

   arr_port      pax                                  Name
0  LHR       88809.0               London Heathrow Airport
1  MCO       70930.0         Orlando International Airport
2  LAX       70530.0     Los Angeles International Airport
3  LAS       69630.0       Mc Carran International Airport
4  JFK       66270.0  John F Kennedy International Airport
5  CDG       64490.0             Paris - Charles-de-Gaulle
6  BKK       59460.0                          Suvarnabhumi
7  MIA       58150.0           Miami International Airport
8  SFO       58000.0   San Francisco International Airport
9  DXB       55590.0           Dubai International Airport

In [42]:
top_airport.head(3).to_json()

'{"arr_port^pax^Name":{"0":"LHR     ^88809.0^London Heathrow Airport","1":"MCO     ^70930.0^Orlando International Airport","2":"LAX     ^70530.0^Los Angeles International Airport"}}'

In [ ]:
app2 = Flask('Top Airports')
@app2.route('/top/<int>')