# CLASE DE SISTEMAS DE RECOMENDACION

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

Load data

In [2]:
%ll

total 36
drwxr-x--- 2 gonzalo  4096 ene 29  2016 ml-100k/
-rw-r--r-- 1 gonzalo 31252 mar 22 20:26 Sistemas_Recomendacion.ipynb

In [3]:
data_root = './ml-100k/'
readme = os.path.join(data_root, 'README')
!cat $readme

SUMMARY & USAGE LICENSE
=============================================

MovieLens data sets were collected by the GroupLens Research Project
at the University of Minnesota.

This data set consists of:
	* 100,000 ratings (1-5) from 943 users on 1682 movies.
	* Each user has rated at least 20 movies.
        * Simple demographic info for the users (age, gender, occupation, zip)

The data was collected through the MovieLens web site
(movielens.umn.edu) during the seven-month period from September 19th,
1997 through April 22nd, 1998. This data has been cleaned up - users
who had less than 20 ratings or did not have complete demographic
information were removed from this data set. Detailed descriptions of
the data file can be found at the end of this file.

Neither the University of Minnesota nor any of the researchers
involved can guarantee the correctness of the data, its suitability
for any particular purpose, or the validity of results based on the
use of the data set.  The data set may be used for any research
purposes under the following conditions:

     * The user may not state or imply any endorsement from the
       University of Minnesota or the GroupLens Research Group.

     * The user must acknowledge the use of the data set in
       publications resulting from the use of the data set
       (see below for citation information).

     * The user may not redistribute the data without separate
       permission.

     * The user may not use this information for any commercial or
       revenue-bearing purposes without first obtaining permission
       from a faculty member of the GroupLens Research Project at the
       University of Minnesota.

If you have any further questions or comments, please contact GroupLens
<grouplens-info@cs.umn.edu>.

CITATION
==============================================

To acknowledge use of the dataset in publications, please cite the
following paper:

F. Maxwell Harper and Joseph A. Konstan. 2015. The MovieLens Datasets:
History and Context. ACM Transactions on Interactive Intelligent
Systems (TiiS) 5, 4, Article 19 (December 2015), 19 pages.
DOI=http://dx.doi.org/10.1145/2827872


ACKNOWLEDGEMENTS
==============================================

Thanks to Al Borchers for cleaning up this data and writing the
accompanying scripts.

PUBLISHED WORK THAT HAS USED THIS DATASET
==============================================

Herlocker, J., Konstan, J., Borchers, A., Riedl, J.. An Algorithmic
Framework for Performing Collaborative Filtering. Proceedings of the
1999 Conference on Research and Development in Information
Retrieval. Aug. 1999.

FURTHER INFORMATION ABOUT THE GROUPLENS RESEARCH PROJECT
==============================================

The GroupLens Research Project is a research group in the Department
of Computer Science and Engineering at the University of Minnesota.
Members of the GroupLens Research Project are involved in many
research projects related to the fields of information filtering,
collaborative filtering, and recommender systems. The project is lead
by professors John Riedl and Joseph Konstan. The project began to
explore automated collaborative filtering in 1992, but is most well
known for its world wide trial of an automated collaborative filtering
system for Usenet news in 1996.  The technology developed in the
Usenet trial formed the base for the formation of Net Perceptions,
Inc., which was founded by members of GroupLens Research. Since then
the project has expanded its scope to research overall information
filtering solutions, integrating in content-based methods as well as
improving current collaborative filtering technology.

Further information on the GroupLens Research project, including
research publications, can be found at the following web site:

        http://www.grouplens.org/

GroupLens Research currently operates a movie recommender based on
collaborative filtering:

        http://www.movielens.org/

DETAILED DESCRIPTIONS OF DATA FILES
==============================================

Here are brief descriptions of the data.

ml-data.tar.gz   -- Compressed tar file.  To rebuild the u data files do this:
                gunzip ml-data.tar.gz
                tar xvf ml-data.tar
                mku.sh

u.data     -- The full u data set, 100000 ratings by 943 users on 1682 items.
              Each user has rated at least 20 movies.  Users and items are
              numbered consecutively from 1.  The data is randomly
              ordered. This is a tab separated list of
	         user id | item id | rating | timestamp.
              The time stamps are unix seconds since 1/1/1970 UTC

u.info     -- The number of users, items, and ratings in the u data set.

u.item     -- Information about the items (movies); this is a tab separated
              list of
              movie id | movie title | release date | video release date |
              IMDb URL | unknown | Action | Adventure | Animation |
              Children's | Comedy | Crime | Documentary | Drama | Fantasy |
              Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi |
              Thriller | War | Western |
              The last 19 fields are the genres, a 1 indicates the movie
              is of that genre, a 0 indicates it is not; movies can be in
              several genres at once.
              The movie ids are the ones used in the u.data data set.

u.genre    -- A list of the genres.

u.user     -- Demographic information about the users; this is a tab
              separated list of
              user id | age | gender | occupation | zip code
              The user ids are the ones used in the u.data data set.

u.occupation -- A list of the occupations.

u1.base    -- The data sets u1.base and u1.test through u5.base and u5.test
u1.test       are 80%/20% splits of the u data into training and test data.
u2.base       Each of u1, ..., u5 have disjoint test sets; this if for
u2.test       5 fold cross validation (where you repeat your experiment
u3.base       with each training and test set and average the results).
u3.test       These data sets can be generated from u.data by mku.sh.
u4.base
u4.test
u5.base
u5.test

ua.base    -- The data sets ua.base, ua.test, ub.base, and ub.test
ua.test       split the u data into a training set and a test set with
ub.base       exactly 10 ratings per user in the test set.  The sets
ub.test       ua.test and ub.test are disjoint.  These data sets can
              be generated from u.data by mku.sh.

allbut.pl  -- The script that generates training and test sets where
              all but n of a users ratings are in the training data.

mku.sh     -- A shell script to generate all the u data sets from u.data.

In [4]:
column = ['user_id', 'item_id', 'rating', 'timestamp']
datafile = os.path.join(data_root, 'u.data')
data = pd.read_csv(datafile, sep='\t', names=column)
data.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [5]:
data.values[:,:3]

array([[ 196,  242,    3],
       [ 186,  302,    3],
       [  22,  377,    1],
       ...,
       [ 276, 1090,    1],
       [  13,  225,    2],
       [  12,  203,    3]])

In [6]:
data.shape

(100000, 4)

In [7]:
n_users = data.user_id.unique().shape[0]
n_items = data.item_id.unique().shape[0]

In [8]:
print("There are %s users and %s items" % (n_users, n_items))
print("Sparsicity value: ",(data.values.shape[0]/float(n_items*n_users)))

There are 943 users and 1682 items
Sparsicity value:  0.06304669364224531

In [9]:
items_id_file = os.path.join(data_root, 'u.item')
!head $items_id_file

1|Toy Story (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)|0|0|0|1|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0
2|GoldenEye (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?GoldenEye%20(1995)|0|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0
3|Four Rooms (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995)|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0
4|Get Shorty (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Get%20Shorty%20(1995)|0|1|0|0|0|1|0|0|1|0|0|0|0|0|0|0|0|0|0
5|Copycat (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Copycat%20(1995)|0|0|0|0|0|0|1|0|1|0|0|0|0|0|0|0|1|0|0
6|Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)|01-Jan-1995||http://us.imdb.com/Title?Yao+a+yao+yao+dao+waipo+qiao+(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0
7|Twelve Monkeys (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Twelve%20Monkeys%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|1|0|0|0
8|Babe (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Babe%20(1995)|0|0|0|0|1|1|0|0|1|0|0|0|0|0|0|0|0|0|0
9|Dead Man Walking (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Dead%20Man%20Walking%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|0|0
10|Richard III (1995)|22-Jan-1996||http://us.imdb.com/M/title-exact?Richard%20III%20(1995)|0|0|0|0|0|0|0|0|1|0|0|0|0|0|0|0|0|1|0

In [10]:
item_dict = {}
with open(items_id_file, 'rb') as f:
    for line in f.readlines():
        record = line.split(b'|')
        item_dict[int(record[0])] = str(record[1])
        
for record in data.values[:20]:
    print('User {u} viewed {m} and gave a {r} rating'.format(u=record[0], m=item_dict[record[1]], r=record[2]))

User 196 viewed b'Kolya (1996)' and gave a 3 rating
User 186 viewed b'L.A. Confidential (1997)' and gave a 3 rating
User 22 viewed b'Heavyweights (1994)' and gave a 1 rating
User 244 viewed b'Legends of the Fall (1994)' and gave a 2 rating
User 166 viewed b'Jackie Brown (1997)' and gave a 1 rating
User 298 viewed b'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)' and gave a 4 rating
User 115 viewed b'Hunt for Red October, The (1990)' and gave a 2 rating
User 253 viewed b'Jungle Book, The (1994)' and gave a 5 rating
User 305 viewed b'Grease (1978)' and gave a 3 rating
User 6 viewed b'Remains of the Day, The (1993)' and gave a 3 rating
User 62 viewed b'Men in Black (1997)' and gave a 2 rating
User 286 viewed b"Romy and Michele's High School Reunion (1997)" and gave a 5 rating
User 200 viewed b'Star Trek: First Contact (1996)' and gave a 5 rating
User 210 viewed b'To Wong Foo, Thanks for Everything! Julie Newmar (1995)' and gave a 3 rating
User 224 viewed b'Batman Forever (1995)' and gave a 3 rating
User 303 viewed b'Only You (1994)' and gave a 3 rating
User 122 viewed b'Age of Innocence, The (1993)' and gave a 5 rating
User 194 viewed b'Sabrina (1995)' and gave a 2 rating
User 291 viewed b'Just Cause (1995)' and gave a 4 rating
User 234 viewed b'Endless Summer 2, The (1994)' and gave a 2 rating

In [11]:
def returnItemId(text, ids):
    text = text.lower()
    search = [(k, v.lower().find(text)) for k,v in list(ids.items())]
    index = []
    for k,v in search:
        if v>-1:
            index.append(k)
    out = []
    for i in index:
        out.append((i, ids[i]))

    return out

In [12]:
returnItemId('but', item_dict)

[(240, "b'Beavis and Butt-head Do America (1996)'"),
 (435, "b'Butch Cassidy and the Sundance Kid (1969)'"),
 (580,
  "b'Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)'"),
 (1401, "b'M. Butterfly (1993)'"),
 (1459, "b'Madame Butterfly (1995)'"),
 (1614, "b'Reluctant Debutante, The (1958)'"),
 (1621, "b'Butterfly Kiss (1995)'"),
 (1645, "b'Butcher Boy, The (1998)'"),
 (1650, "b'Butcher Boy, The (1998)'")]

In [13]:
print(len(set(item_dict.keys())))
print(len(set(item_dict.values())))

1682
1664

In [14]:
duplicates_item_dict = {}
for id_, name in list(item_dict.items()):
    if name not in duplicates_item_dict:
        duplicates_item_dict[name] = [id_]
    else:
        duplicates_item_dict[name] = duplicates_item_dict[name] + [id_]
        
for k,v in list(duplicates_item_dict.items()):
    if len(v) > 1:
        print(k,v)

b'Chasing Amy (1997)' [246, 268]
b'Kull the Conqueror (1997)' [266, 680]
b"Ulee's Gold (1997)" [297, 303]
b'Fly Away Home (1996)' [304, 500]
b'Ice Storm, The (1997)' [305, 865]
b'Deceiver (1997)' [309, 1606]
b'Desperate Measures (1998)' [329, 348]
b'Body Snatchers (1993)' [573, 670]
b'Substance of Fire, The (1996)' [711, 1658]
b'Money Talks (1997)' [876, 881]
b'That Darn Cat! (1997)' [878, 1003]
b'Hugo Pool (1997)' [1175, 1617]
b'Chairman of the Board (1998)' [1234, 1654]
b'Designated Mourner, The (1997)' [1256, 1257]
b'Hurricane Streets (1998)' [1395, 1607]
b'Sliding Doors (1998)' [1429, 1680]
b'Nightwatch (1997)' [1477, 1625]
b'Butcher Boy, The (1998)' [1645, 1650]

In [15]:
unique_id_item_dict = {}
for index, lista_id in enumerate(duplicates_item_dict.values()):
    for key in lista_id:
        unique_id_item_dict[key] = index

In [16]:
unique_item_dict = {unique_id_item_dict[k]:v
                   for k,v in item_dict.items()}

In [17]:
returnItemId('but', unique_item_dict)

[(239, "b'Beavis and Butt-head Do America (1996)'"),
 (431, "b'Butch Cassidy and the Sundance Kid (1969)'"),
 (575,
  "b'Englishman Who Went Up a Hill, But Came Down a Mountain, The (1995)'"),
 (1390, "b'M. Butterfly (1993)'"),
 (1448, "b'Madame Butterfly (1995)'"),
 (1601, "b'Reluctant Debutante, The (1958)'"),
 (1607, "b'Butterfly Kiss (1995)'"),
 (1630, "b'Butcher Boy, The (1998)'")]

In [18]:
trainfile = os.path.join(data_root, 'ua.base')
!head $trainfile

1	1	5	874965758
1	2	3	876893171
1	3	4	878542960
1	4	3	876893119
1	5	3	889751712
1	6	5	887431973
1	7	4	875071561
1	8	1	875072484
1	9	5	878543541
1	10	3	875693118

In [19]:
train_file = os.path.join(data_root, "ua.base")
train = pd.read_csv(trainfile, sep='\t', names=column)
train.head()

   user_id  item_id  rating  timestamp
0        1        1       5  874965758
1        1        2       3  876893171
2        1        3       4  878542960
3        1        4       3  876893119
4        1        5       3  889751712

In [20]:
test_file = os.path.join(data_root, "ua.test")
test = pd.read_csv(test_file, sep='\t', names=column)
test.head()

   user_id  item_id  rating  timestamp
0        1       20       4  887431883
1        1       33       4  878542699
2        1       61       4  878542420
3        1      117       3  874965739
4        1      155       2  878542201

In [21]:
def func(x):
    return unique_id_item_dict[x]

In [22]:
test['item_id'].apply(lambda z: func(z)).head()

0     19
1     32
2     60
3    116
4    154
Name: item_id, dtype: int64

In [23]:
train['item_id'] = train['item_id'].apply(func)

In [24]:
test['item_id'] = test['item_id'].apply(func)

### Popularity

In [25]:
mostRated = train.groupby('item_id')['user_id'].count().sort_values(ascending=False)

In [26]:
mostRated.head()

item_id
49     495
99     443
180    439
257    412
284    400
Name: user_id, dtype: int64

In [27]:
mostRated.index

Int64Index([  49,   99,  180,  257,  284,  292,    0,  286,  120,  173,
            ...
            1560, 1563, 1570, 1564, 1565, 1566, 1341, 1568, 1569, 1663],
           dtype='int64', name='item_id', length=1662)

In [29]:
mostRatedMovies = np.zeros((mostRated.shape[0], 3), dtype=np.object)
for i, index in enumerate(mostRated.index):
    id_ = index
    freq_ = mostRated[id_]
    title_ = unique_item_dict[id_]
    mostRatedMovies[i] = [id_, title_, freq_]
    
mostRatedMovies[:10,1:]

array([["b'Star Wars (1977)'", 495],
       ["b'Fargo (1996)'", 443],
       ["b'Return of the Jedi (1983)'", 439],
       ["b'Contact (1997)'", 412],
       ["b'English Patient, The (1996)'", 400],
       ["b'Liar Liar (1997)'", 398],
       ["b'Toy Story (1995)'", 392],
       ["b'Scream (1996)'", 386],
       ["b'Independence Day (ID4) (1996)'", 384],
       ["b'Raiders of the Lost Ark (1981)'", 379]], dtype=object)

### By rating (sum)

In [37]:
mostRated_1 = train[train['rating'] >= 4].groupby('item_id')['rating'].count().sort_values(ascending=False)

In [38]:
mostRated_1_Movies = np.zeros((mostRated.shape[0], 3), dtype=np.object)
for i, index in enumerate(mostRated_1.index):
    id_ = index
    freq_ = mostRated_1[id_]
    title_ = unique_item_dict[id_]
    mostRated_1_Movies[i] = [id_, title_, freq_]
    
mostRated_1_Movies[:10,1:]

array([["b'Star Wars (1977)'", 428],
       ["b'Fargo (1996)'", 354],
       ["b'Return of the Jedi (1983)'", 331],
       ["b'Raiders of the Lost Ark (1981)'", 316],
       ["b'Silence of the Lambs, The (1991)'", 310],
       ["b'Godfather, The (1972)'", 298],
       ["b'Contact (1997)'", 276],
       ["b'Toy Story (1995)'", 275],
       ["b'Empire Strikes Back, The (1980)'", 264],
       ["b'Pulp Fiction (1994)'", 262]], dtype=object)

### By rating (by views filter)

In [45]:
min_ratings = 50
listRatedMovies = train.groupby('item_id')['rating'].apply(list).reset_index()
listRatedMovies.head()

   item_id                                             rating
0        0  [5, 4, 4, 4, 3, 1, 5, 5, 3, 5, 5, 5, 3, 5, 4, ...
1        1  [3, 3, 2, 3, 5, 1, 3, 3, 4, 4, 3, 2, 2, 3, 4, ...
2        2  [4, 2, 3, 4, 3, 2, 2, 1, 3, 3, 5, 3, 3, 3, 2, ...
3        3  [3, 5, 4, 5, 5, 5, 3, 5, 4, 2, 4, 4, 3, 3, 2, ...
4        4  [3, 1, 2, 3, 4, 4, 4, 3, 3, 2, 4, 3, 3, 4, 3, ...

In [50]:
filteredListRatedMovies = listRatedMovies[listRatedMovies.rating.apply(lambda x: len(x)>min_ratings)]
filteredListRatedMovies

      item_id                                             rating
0           0  [5, 4, 4, 4, 3, 1, 5, 5, 3, 5, 5, 5, 3, 5, 4, ...
1           1  [3, 3, 2, 3, 5, 1, 3, 3, 4, 4, 3, 2, 2, 3, 4, ...
2           2  [4, 2, 3, 4, 3, 2, 2, 1, 3, 3, 5, 3, 3, 3, 2, ...
3           3  [3, 5, 4, 5, 5, 5, 3, 5, 4, 2, 4, 4, 3, 3, 2, ...
4           4  [3, 1, 2, 3, 4, 4, 4, 3, 3, 2, 4, 3, 3, 4, 3, ...
6           6  [4, 2, 5, 3, 4, 2, 5, 1, 5, 4, 5, 4, 4, 4, 3, ...
7           7  [1, 4, 5, 4, 4, 5, 5, 4, 5, 4, 4, 3, 4, 4, 3, ...
8           8  [5, 4, 5, 4, 5, 3, 4, 4, 5, 5, 5, 5, 4, 4, 3, ...
9           9  [3, 2, 4, 3, 4, 4, 5, 5, 4, 5, 2, 5, 4, 2, 5, ...
10         10  [2, 4, 3, 3, 4, 2, 1, 5, 5, 4, 4, 5, 3, 3, 4, ...
11         11  [5, 4, 5, 5, 2, 5, 5, 5, 5, 5, 4, 5, 4, 5, 4, ...
12         12  [5, 2, 3, 5, 4, 1, 5, 4, 4, 3, 5, 3, 5, 3, 5, ...
13         13  [5, 4, 4, 3, 4, 5, 4, 3, 5, 4, 4, 5, 4, 4, 4, ...
14         14  [5, 3, 5, 5, 4, 4, 5, 4, 4, 4, 4, 5, 4, 2, 5, ...
16         16  [3, 1, 4, 4, 3, 2, 3, 4, 2, 4, 3, 5, 3, 3, 3, ...
18         18  [5, 3, 4, 5, 3, 4, 5, 5, 3, 4, 4, 4, 1, 4, 5, ...
19         19  [3, 1, 4, 4, 3, 4, 4, 1, 4, 2, 4, 1, 4, 4, 4, ...
20         20  [1, 3, 3, 3, 4, 2, 3, 3, 1, 1, 3, 3, 3, 3, 1, ...
21         21  [4, 3, 5, 5, 4, 4, 5, 5, 5, 5, 5, 4, 5, 5, 5, ...
22         22  [4, 3, 5, 5, 5, 4, 4, 4, 4, 5, 4, 5, 5, 5, 5, ...
23         23  [3, 4, 3, 1, 5, 3, 4, 3, 3, 1, 3, 4, 4, 3, 4, ...
24         24  [4, 4, 3, 3, 3, 1, 2, 3, 4, 3, 5, 2, 2, 5, 4, ...
25         25  [3, 5, 3, 4, 3, 4, 3, 3, 4, 3, 3, 5, 4, 5, 3, ...
26         26  [2, 4, 3, 2, 4, 4, 4, 4, 2, 3, 3, 4, 4, 3, 5, ...
27         27  [4, 2, 5, 5, 5, 5, 5, 3, 3, 4, 4, 4, 5, 4, 2, ...
28         28  [1, 4, 3, 3, 2, 1, 3, 3, 3, 2, 1, 3, 3, 3, 3, ...
30         30  [3, 4, 5, 4, 4, 4, 4, 3, 5, 4, 4, 5, 4, 4, 4, ...
31         31  [5, 4, 4, 4, 5, 2, 3, 5, 5, 4, 1, 4, 3, 5, 1, ...
32         32  [4, 5, 2, 3, 1, 3, 4, 3, 3, 4, 4, 4, 5, 3, 5, ...
37         37  [3, 3, 3, 1, 2, 3, 3, 5, 5, 3, 2, 2, 4, 3, 3, ...
...       ...                                                ...
886       886  [1, 4, 1, 3, 2, 2, 2, 2, 2, 5, 3, 3, 3, 1, 3, ...
910       910  [4, 4, 5, 3, 5, 5, 4, 4, 3, 3, 5, 5, 4, 2, 4, ...
914       914  [5, 5, 5, 3, 4, 5, 5, 4, 3, 3, 4, 4, 4, 5, 4, ...
915       915  [3, 3, 1, 3, 1, 4, 3, 4, 3, 2, 2, 3, 5, 3, 4, ...
917       917  [1, 1, 2, 3, 2, 3, 1, 3, 1, 1, 3, 3, 4, 3, 3, ...
919       919  [1, 3, 2, 4, 4, 3, 3, 2, 3, 3, 4, 3, 3, 3, 2, ...
921       921  [2, 1, 2, 3, 1, 3, 2, 2, 2, 2, 3, 3, 3, 4, 2, ...
925       925  [4, 4, 4, 2, 2, 3, 4, 1, 2, 5, 4, 3, 3, 2, 2, ...
930       930  [4, 4, 3, 4, 4, 4, 4, 4, 4, 4, 3, 5, 3, 3, 3, ...
937       937  [5, 4, 3, 2, 4, 1, 3, 2, 3, 3, 4, 3, 2, 4, 3, ...
940       940  [3, 4, 3, 3, 5, 3, 3, 4, 3, 4, 1, 5, 3, 3, 3, ...
950       950  [3, 4, 4, 4, 5, 4, 3, 2, 4, 2, 3, 5, 4, 2, 4, ...
960       960  [3, 3, 4, 5, 5, 3, 3, 3, 4, 1, 4, 5, 1, 4, 5, ...
979       979  [1, 1, 2, 4, 2, 2, 1, 3, 3, 1, 3, 2, 3, 1, 2, ...
984       984  [4, 3, 4, 3, 2, 3, 2, 4, 4, 2, 2, 5, 3, 4, 5, ...
999       999  [2, 3, 4, 4, 4, 2, 4, 2, 2, 1, 1, 4, 5, 3, 3, ...
1001     1001  [3, 4, 3, 1, 3, 4, 3, 3, 5, 4, 4, 3, 1, 3, 3, ...
1002     1002  [4, 2, 4, 3, 3, 4, 4, 4, 4, 4, 4, 4, 5, 5, 4, ...
1004     1004  [3, 5, 3, 4, 4, 3, 3, 2, 4, 3, 2, 2, 3, 4, 4, ...
1006     1006  [1, 5, 4, 4, 3, 3, 4, 2, 5, 2, 5, 5, 4, 3, 5, ...
1018     1018  [5, 2, 4, 3, 1, 1, 4, 4, 1, 1, 2, 4, 3, 4, 2, ...
1025     1025  [5, 4, 4, 3, 4, 2, 3, 4, 4, 4, 1, 3, 2, 3, 3, ...
1029     1029  [3, 4, 5, 2, 4, 4, 4, 4, 2, 4, 3, 3, 4, 5, 5, ...
1031     1031  [4, 3, 4, 4, 3, 5, 3, 5, 5, 3, 2, 3, 4, 4, 1, ...
1037     1037  [4, 3, 2, 3, 3, 3, 2, 2, 3, 1, 3, 4, 2, 5, 4, ...
1038     1038  [1, 3, 1, 4, 4, 2, 4, 4, 4, 2, 3, 2, 2, 3, 4, ...
1063     1063  [5, 3, 4, 4, 5, 5, 5, 5, 4, 3, 2, 5, 5, 4, 4, ...
1064     1064  [2, 3, 4, 4, 3, 3, 5, 3, 2, 4, 4, 3, 2, 4, 3, ...
1091     1091  [5, 5, 4, 2, 4, 4, 3, 2, 5, 4, 4, 4, 4, 4, 3, ...
1109     1109  [4, 3, 4, 4, 3, 3, 4, 3, 3, 3, 5, 3, 5, 3, 1, ...

[570 rows x 2 columns]

In [53]:
meanMovies = filteredListRatedMovies.rating.apply(lambda x: np.mean(np.array(x))).sort_values(ascending=False)

In [54]:
mostRatedMovies = np.zeros((meanMovies.shape[0], 3), dtype=np.object)
for i, index in enumerate(meanMovies.index):
    id_ = index
    freq_ = meanMovies[id_]
    title_ = unique_item_dict[id_]
    mostRatedMovies[i] = [id_, title_, freq_]
    
mostRatedMovies[:10,1:]

array([["b'Wallace & Gromit: The Best of Aardman Animation (1996)'",
        4.491525423728813],
       ["b'Close Shave, A (1995)'", 4.480769230769231],
       ["b'Wrong Trousers, The (1993)'", 4.4766355140186915],
       ['b"Schindler\'s List (1993)"', 4.4758364312267656],
       ["b'Casablanca (1942)'", 4.459821428571429],
       ["b'Shawshank Redemption, The (1994)'", 4.457364341085271],
       ["b'Usual Suspects, The (1995)'", 4.386454183266932],
       ["b'Rear Window (1954)'", 4.374358974358974],
       ["b'Star Wars (1977)'", 4.365656565656566],
       ["b'12 Angry Men (1957)'", 4.327433628318584]], dtype=object)

#### Metrics

In [56]:
def recall_at_n(N, test, recommended, train=None):
    if train is not None:
        rec_true = []
        for r in recommended:
            if r not in train:
                rec_true.append(r)
    else:
        rec_true = recommended
    intersection = len(set(test) & set(rec_true[:N]))
    return intersection / float(np.minimum(N, len(test)))

In [58]:
trainUsersGrouped = (train[train.rating>=4.0]
                    .groupby('user_id')['item_id']
                    .apply(list).reset_index())

In [59]:
testUsersGrouped = (test[test.rating>=4.0]
                    .groupby('user_id')['item_id']
                    .apply(list).reset_index())

In [70]:
joined = pd.merge(trainUsersGrouped, testUsersGrouped, how='inner', on='user_id', suffixes=('_train', '_test'))

In [71]:
joined.head()

,user_id,item_id_train,item_id_test
0,1,"[0, 2, 5, 6, 8, 11, 12, 13, 14, 15, 17, 18, 21...","[19, 32, 60, 159, 170, 201, 264]"
1,2,"[0, 13, 24, 99, 110, 126, 236, 241, 254, 256, ...","[12, 49, 250, 290, 295]"
2,3,"[180, 259, 315, 317, 318, 324, 326, 337, 339, ...","[325, 328]"
3,4,"[10, 257, 269, 298, 299, 321, 324, 326, 355, 3...","[49, 259, 286, 292, 295, 350, 353, 357]"
4,5,"[23, 28, 39, 41, 49, 61, 69, 88, 94, 99, 100, ...","[0, 16]"

In [72]:
joined.apply(lambda x: x[1]+x[2], axis=1).head()

0    [0, 2, 5, 6, 8, 11, 12, 13, 14, 15, 17, 18, 21...
1    [0, 13, 24, 99, 110, 126, 236, 241, 254, 256, ...
2    [180, 259, 315, 317, 318, 324, 326, 337, 339, ...
3    [10, 257, 269, 298, 299, 321, 324, 326, 355, 3...
4    [23, 28, 39, 41, 49, 61, 69, 88, 94, 99, 100, ...
dtype: object

In [73]:
joined.apply(lambda l: recall_at_n(N=15, test=l[2],
                                  recommended=mostRatedMovies[:,0],
                                  train=l[1]), axis=1).head()

0    0.000
1    0.200
2    0.000
3    0.125
4    0.000
dtype: float64

In [88]:
topN = 30
recall_per_user = joined.apply(lambda l: recall_at_n(N=topN, test=l[2],
                                  recommended=mostRatedMovies[:,0],
                                  train=l[1]), axis=1)
recall_per_user.mean()

0.13298239352843205

In [92]:
def apk(N, test, recommended, train=None):
    if train is not None:
        rec_true = []
        for r in recommended:
            if r not in train:
                rec_true.append(r)
    else:
        rec_true = recommended
    predicted = rec_true[:N]
    
    score = 0.0
    num_hits = 0.0
    
    for i, p in enumerate(predicted):
        if p in test and p not in predicted[:i]:
            num_hits += 1.0
            score += num_hits / (i +1)
    return score/ min(len(test), N)