## Web Service

http://flask.pocoo.org/docs/0.10/quickstart/

In [1]:
import pandas as pd

In [3]:
pd.read_json?

In [2]:
r = pd.read_json('http://127.0.0.1:5000/top/15')

In [3]:
r

                                Airport Name  arr_port  pax
0            Hong Kong International Airport  HKG       112
1                         La Guardia Airport  LGA        95
2       Chicago O'Hare International Airport  ORD        94
3       John F Kennedy International Airport  JFK        92
4        San Francisco International Airport  SFO        91
5          Los Angeles International Airport  LAX        91
6              Orlando International Airport  MCO        90
7  Ronald Reagan Washington National Airport  DCA        82
8               Denver International Airport  DEN        79
9                    London Heathrow Airport  LHR        76

In [4]:
r.sort_index()

                                Airport Name  arr_port  pax
0            Hong Kong International Airport  HKG       112
1                         La Guardia Airport  LGA        95
2       Chicago O'Hare International Airport  ORD        94
3       John F Kennedy International Airport  JFK        92
4        San Francisco International Airport  SFO        91
5          Los Angeles International Airport  LAX        91
6              Orlando International Airport  MCO        90
7  Ronald Reagan Washington National Airport  DCA        82
8               Denver International Airport  DEN        79
9                    London Heathrow Airport  LHR        76

In [6]:
r.sort_values('arr_port', ascending=False)

                                Airport Name  arr_port  pax
4        San Francisco International Airport  SFO        91
2       Chicago O'Hare International Airport  ORD        94
6              Orlando International Airport  MCO        90
9                    London Heathrow Airport  LHR        76
1                         La Guardia Airport  LGA        95
5          Los Angeles International Airport  LAX        91
3       John F Kennedy International Airport  JFK        92
0            Hong Kong International Airport  HKG       112
8               Denver International Airport  DEN        79
7  Ronald Reagan Washington National Airport  DCA        82