## Top 10 arrival airports in the world in 2013 (using the bookings file)

Arrival airport is the column arr_port. It is the IATA code for the airport

To get the total number of passengers for an airport, you can sum the column pax, grouping by arr_port.

Note that there is negative pax. That corresponds to cancelations. So to get the total number of passengers that have actually booked, you should sum including the negatives (that will remove the canceled bookings).

Print the top 10 arrival airports in the standard output, including the number of passengers.

Bonus point: Get the name of the city or airport corresponding to that airport (programatically, we suggest to have a look at GeoBases in Github)

Bonus point: Solve this problem using pandas (instead of any other approach)

Get familiar with data
Select the columns of interest
What to do with NaN?

Make action plan
Develop the code that works with a sample

Adjust the code to work with Big data
Test big data approach on a sample

Run program with big data

(Bonus Point)

In [4]:
cd /home/dsc/Data/challenge/

/home/dsc/Data/challenge

In [5]:
!ls

bookings.csv.bz2     bookings_sample.csv.bz2  searches_sample.csv.bz2
bookings_sample.csv  searches.csv.bz2

## 1) Get familiar with data

### What if we dont want to read the whole file?

Options:
1) prepare the sample
2) read_csv with nrows option

In [6]:
import pandas as pd

In [7]:
#DON'T DO THIS!!!
#it will try to create DataFrame with the entire file
b = pd.read_csv('bookings.csv.bz2',sep='^')

KeyboardInterrupt:

In [8]:
b = pd.read_csv('bookings_sample.csv.bz2',sep='^')

In [9]:
b = pd.read_csv('bookings.csv.bz2',sep='^', nrows=10000)

In [10]:
type(b)

pandas.core.frame.DataFrame

## Commands for obtaining data info:
    b.shape  - object 
    b.info()

    b.columns
    b.columns.to_list()
    list(b.columns)
    
    b.head() -function
    b.sample()
    
    #pd.set_option('display.max_columns', 100)
    pd.set_option('display.max_columns', None)
    
    b.describe()
    b.describe(include='all')
    df.dtypes
    
    b.isnull().sum()
    non_null_counts = b.count()

In [11]:
b.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [12]:
#With this option we define the number of columns visible with head/sample/tail
pd.set_option('display.max_columns', 100)

In [13]:
pd.set_option('display.max_columns', None)

In [14]:
b.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHRZRH,LONZRH,CHGB,1,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,SAL,SAL,SV,CLT,CLT,US,CLTSAL,CLTSAL,SVUS,1,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLTSAL,CLTSAL,SVUS,1,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKL,AKL,NZ,SVO,MOW,RU,AKLSVO,AKLMOW,NZRU,1,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKLSVO,AKLMOW,NZRU,1,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [16]:
b.sample(5)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
1961,2013-03-01 00:00:00,1A,BR,b46cff522af6af3acee0cfbb2bdd3bfb,163eb3498314753e8b72bd17fe5d620f,f9d6d39ec19bb282acddb2bd994b4a37,2013-02-22 00:00:00,10497,0,GRU,SAO,BR,MIA,MIA,US,GRU,SAO,BR,MCO,ORL,US,GRU,SAO,BR,GRUMCO,ORLSAO,BRUS,1,MCOGRU,TT,Z,C,2013-04-01 21:15:00,2013-04-02 07:07:34,-4,2013,3,SAOB2216W
5677,2013-03-28 00:00:00,1A,UA,a739e5abb9eead978bd13ac38a11d60d,748295d3bd6174d13fd9e3291207b488,5ac4991b2efc798d540b2695144d3351,2013-03-28 00:00:00,169,1722,MXP,MIL,IT,KBP,IEV,UA,KBP,IEV,UA,MXP,MIL,IT,KBP,IEV,UA,KBPMXP,IEVMIL,ITUA,1,MXPKBP,AD,K,Y,2013-05-06 13:30:00,2013-05-06 17:19:34,2,2013,3,DNKU23532
1954,2013-03-06 00:00:00,1V,US,0c1ea09e0b46c18d8864e14ed35da1c6,0ca97d77af1347f365cdd016c249ad61,b3cf48ee0f4571857df362c8d297e018,2013-03-06 00:00:00,9564,0,CVG,CVG,US,LGA,NYC,US,CVG,CVG,US,CVG,CVG,US,LGA,NYC,US,CVGLGA,CVGNYC,USUS,0,CVGLGA,NV,U,Y,2013-03-29 07:00:00,2013-03-29 08:54:18,1,2013,3,NULL
1623,2013-03-04 00:00:00,1P,US,9d57c2f047f8ff00d22d74225be90968,f03a4f07336637e680a240a787e6bb74,afbb876e2671e8d75d2d976a45d23a47,2013-03-04 00:00:00,11016,0,MKE,MKE,US,MBJ,MBJ,JM,MKE,MKE,US,MBJ,MBJ,JM,MKE,MKE,US,MBJMKE,MBJMKE,JMUS,1,MBJCLTMKE,FD,W,Y,2013-09-03 12:40:00,2013-09-03 20:56:54,2,2013,3,NULL
5278,2013-03-04 00:00:00,1S,US,3562f45a3bce3f48519dee55c95f4f5f,49cb1ae052ea2dff7d3fcb9d748efb42,05ab1a2dd21dbc1301fb60227a3e8e0a,2013-03-04 00:00:00,6313,0,PHX,PHX,US,CUN,CUN,MX,PHX,PHX,US,CUN,CUN,MX,PHX,PHX,US,CUNPHX,CUNPHX,MXUS,1,CUNPHX,FD,W,Y,2013-05-17 16:05:00,2013-05-17 18:12:39,1,2013,3,NULL

In [17]:
b.count()

act_date               10000
source                 10000
pos_ctry               10000
pos_iata               10000
pos_oid                10000
rloc                   10000
cre_date               10000
duration               10000
distance               10000
dep_port               10000
dep_city               10000
dep_ctry               10000
arr_port               10000
arr_city               10000
arr_ctry               10000
lst_port               10000
lst_city               10000
lst_ctry               10000
brd_port               10000
brd_city               10000
brd_ctry               10000
off_port               10000
off_city               10000
off_ctry               10000
mkt_port               10000
mkt_city               10000
mkt_ctry               10000
intl                   10000
route                  10000
carrier                10000
bkg_class              10000
cab_class              10000
brd_time               10000
off_time               10000
pax                    10000
year                   10000
month                  10000
oid                    10000
dtype: int64

In [18]:
b.describe()

,duration,distance,intl,pax,year,month
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.0,10000.0
mean,20209.543000,455.563300,0.596300,0.516300,2013.0,3.0
std,42241.125937,1738.810081,0.490663,1.783943,0.0,0.0
min,59.000000,0.000000,0.000000,-25.000000,2013.0,3.0
25%,3339.000000,0.000000,0.000000,-1.000000,2013.0,3.0
50%,7734.500000,0.000000,1.000000,1.000000,2013.0,3.0
75%,19077.000000,0.000000,1.000000,1.000000,2013.0,3.0
max,488131.000000,18481.000000,1.000000,25.000000,2013.0,3.0

In [19]:
b.shape

(10000, 38)

In [20]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 38 columns):
act_date               10000 non-null object
source                 10000 non-null object
pos_ctry               10000 non-null object
pos_iata               10000 non-null object
pos_oid                10000 non-null object
rloc                   10000 non-null object
cre_date               10000 non-null object
duration               10000 non-null int64
distance               10000 non-null int64
dep_port               10000 non-null object
dep_city               10000 non-null object
dep_ctry               10000 non-null object
arr_port               10000 non-null object
arr_city               10000 non-null object
arr_ctry               10000 non-null object
lst_port               10000 non-null object
lst_city               10000 non-null object
lst_ctry               10000 non-null object
brd_port               10000 non-null object
brd_city               10000 non-null object
brd_ctry               10000 non-null object
off_port               10000 non-null object
off_city               10000 non-null object
off_ctry               10000 non-null object
mkt_port               10000 non-null object
mkt_city               10000 non-null object
mkt_ctry               10000 non-null object
intl                   10000 non-null int64
route                  10000 non-null object
carrier                10000 non-null object
bkg_class              10000 non-null object
cab_class              10000 non-null object
brd_time               10000 non-null object
off_time               10000 non-null object
pax                    10000 non-null int64
year                   10000 non-null int64
month                  10000 non-null int64
oid                    10000 non-null object
dtypes: int64(6), object(32)
memory usage: 2.9+ MB

In [22]:
#you can easily spot white space by transforming the Series to lists
list(b.columns)

['act_date           ',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid  ',
 'rloc          ',
 'cre_date           ',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route          ',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time           ',
 'off_time           ',
 'pax',
 'year',
 'month',
 'oid      ']

In [25]:
b.columns=b.columns.str.strip()

In [26]:
list(b.columns)

['act_date',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid',
 'rloc',
 'cre_date',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time',
 'off_time',
 'pax',
 'year',
 'month',
 'oid']

## 2) Select the columns of interest

In [ ]:
#arr_port,pax, act_date

In [28]:
b = pd.read_csv('bookings_sample.csv.bz2',sep='^', usecols=['year','pax','arr_port'] )

In [29]:
b.sample(5)

      arr_port  pax  year
7917  JFK        -1  2013
8680  TRV         1  2013
7884  LHR        -1  2013
6401  RNO         1  2013
4089  BOM        -1  2013

## 3) What to do with NaN?

#in the sample everything might be ok, but we should prepare fot NaN case

In [30]:
b=b.dropna()

## Ready to code

What do we have so far?

In [31]:
b = pd.read_csv('bookings_sample.csv.bz2',sep='^', usecols=['year','pax','arr_port'] )
b=b.dropna()

## 4) make action plan

1. filtrar 2013
2. delete de year column (optional)
3 groupby arr_airport
   airport --> pax
4.sumar pax
5 ordenar
6 top 10

In [ ]:
b=b[    b['year']==2013   ]

In [ ]:
del b['year']

In [34]:
b.head()

   arr_port  pax
0  LHR        -1
1  CLT         1
2  CLT         1
3  SVO         1
4  SVO         1

In [36]:
arr_ports=b.groupby('arr_port')

In [37]:
arr_ports.groups

{'AAL     ': Int64Index([4084, 4085], dtype='int64'),
 'ABQ     ': Int64Index([1606, 1607, 3341, 3342, 6023, 6024, 6025, 6026, 6464, 6465, 7517,
             7518],
            dtype='int64'),
 'ABV     ': Int64Index([3277, 3278, 4093, 4094, 7849, 7850], dtype='int64'),
 'ABZ     ': Int64Index([3483, 3484, 6062, 6063, 6064, 6065], dtype='int64'),
 'ACC     ': Int64Index([118, 119, 2512, 2513, 2514, 2515, 6164, 6165, 6888, 6889, 8695,
             8696],
            dtype='int64'),
 'ADD     ': Int64Index([207, 208, 301, 302, 2302, 2303, 3517, 3518, 3519, 3520, 5735, 5736,
             6216],
            dtype='int64'),
 'ADZ     ': Int64Index([8892, 8893], dtype='int64'),
 'AEP     ': Int64Index([1812, 2697, 2698, 2699, 2700, 2701, 2702, 2703, 2704, 3982, 3983,
             8402, 8403],
            dtype='int64'),
 'AER     ': Int64Index([1939, 2420, 2421], dtype='int64'),
 'AES     ': Int64Index([1701, 1702, 4999], dtype='int64'),
 'AFA     ': Int64Index([8412, 8413], dtype='int64'),
 'AGA     ': Int64Index([1965, 1966, 1967, 1968, 4675, 4676, 4677, 4678], dtype='int64'),
 'AGP     ': Int64Index([397, 398, 1432, 1433, 4149, 4150, 4151, 4152], dtype='int64'),
 'AGU     ': Int64Index([5362, 5363], dtype='int64'),
 'AGX     ': Int64Index([6154], dtype='int64'),
 'AJA     ': Int64Index([4194, 5639, 5640, 5641, 5642, 7483, 9514, 9515], dtype='int64'),
 'AJF     ': Int64Index([1377, 1378, 1379, 1380, 6700], dtype='int64'),
 'AKL     ': Int64Index([1068, 1069, 1070, 1071, 1072, 3260, 3311, 3312, 3525, 3526, 3527,
             3528],
            dtype='int64'),
 'ALA     ': Int64Index([76, 77, 2133, 2134, 8652, 8653, 8654, 8655, 8656, 8657, 8658,
             8659],
            dtype='int64'),
 'ALB     ': Int64Index([1220, 1221, 1222, 1223], dtype='int64'),
 'ALC     ': Int64Index([ 909,  910, 3875, 3876, 6645, 9498, 9499, 9500, 9501, 9502, 9503,
             9504, 9505, 9506, 9507],
            dtype='int64'),
 'ALG     ': Int64Index([  34,   35,   36,   37,  558,  559, 1827, 1828, 1930, 1931, 2212,
             2213, 4449, 4450, 5687, 5688, 7687, 7688, 7689, 7690],
            dtype='int64'),
 'AMD     ': Int64Index([732, 2525, 2526, 2527, 2528, 6979, 6980, 6981], dtype='int64'),
 'AMM     ': Int64Index([1703, 1704, 2351, 3720, 6184, 6417, 6418, 6419, 6584, 6585, 6634,
             6635, 7252, 7271, 7272, 9423, 9934, 9935, 9936, 9937],
            dtype='int64'),
 'AMS     ': Int64Index([ 494,  888,  889,  890,  891, 1135, 1136, 2076, 2077, 2139, 2142,
             2143, 2146, 2147, 2234, 2235, 2963, 3256, 3257, 3348, 3402, 3403,
             3891, 4532, 4622, 4623, 4974, 4975, 4976, 4977, 6754, 6755, 6756,
             7023, 7024, 7307, 7308, 7469, 7470, 7471, 8595, 8798, 8799, 8800,
             8801],
            dtype='int64'),
 'ANC     ': Int64Index([ 432,  433, 1084, 1085, 1086, 1087, 3307, 3308, 3309, 3310, 4140,
             4141, 5159, 5160, 5161, 5162, 6684, 7011, 7012, 7013, 7014, 7015,
             7016, 8570, 8571, 8636, 8637, 8638, 8639, 9697, 9698],
            dtype='int64'),
 'ANF     ': Int64Index([4184, 4185, 4186, 4187, 4188, 4189], dtype='int64'),
 'ANU     ': Int64Index([6394, 6395, 6396, 6397], dtype='int64'),
 'AOE     ': Int64Index([5077], dtype='int64'),
 'AOI     ': Int64Index([5297, 5298], dtype='int64'),
 'AQP     ': Int64Index([3898, 3899, 7103, 7104], dtype='int64'),
 'ARH     ': Int64Index([1383], dtype='int64'),
 'ARN     ': Int64Index([1748, 1749, 1750, 1751, 2175, 2176, 2983, 2984, 3066, 3067, 5996,
             9666, 9667, 9668, 9981, 9982],
            dtype='int64'),
 'ASE     ': Int64Index([1617, 1618, 3305, 3306], dtype='int64'),
 'ASU     ': Int64Index([548, 549, 550, 551, 724, 725], dtype='int64'),
 'ASW     ': Int64Index([1661, 1662], dtype='int64'),
 'ATH     ': Int64Index([ 313,  314,  739,  748, 1172, 1173, 1236, 1237, 1392, 1393, 1497,
             1498, 1499, 1500, 2154, 2155, 2156, 2206, 2207, 2395, 2396, 2524,
             4310, 4311, 5780, 5785, 5894, 5895, 6325, 6326, 6327, 6328, 6329,
             6330, 6331, 6332, 6333, 6334, 6335, 6336, 6734, 6735, 6882, 6883,
             7977, 7978, 8101, 8902, 8903, 8904, 8905, 8906, 8907, 9136, 9426,
             9427, 9681, 9682, 9683, 9716, 9717, 9718, 9719, 9756, 9757, 9778,
             9779],
            dtype='int64'),
 'ATL     ': Int64Index([ 147,  404,  908, 1029, 1030, 1041, 1042, 1219, 1251, 1252, 1260,
             1261, 1763, 1764, 1774, 1775, 1776, 1777, 1778, 1779, 2399, 2441,
             2442, 2905, 2906, 2907, 2908, 2955, 2956, 2957, 2958, 3188, 3208,
             3615, 3616, 3617, 3618, 3658, 3702, 3703, 3704, 3705, 3706, 3707,
             3708, 3709, 3746, 3835, 3836, 4491, 4492, 4636, 4637, 4736, 4737,
             5156, 5230, 5231, 5232, 5233, 5869, 5870, 5871, 5872, 6081, 6371,
             6630, 6631, 6857, 6858, 7009, 7010, 7162, 7163, 7236, 7237, 7541,
             7542, 8806, 8807, 8973, 8974, 8975, 8976, 8977, 8978, 9398, 9458,
             9464, 9465, 9480, 9481, 9490, 9491, 9553, 9554, 9824, 9825],
            dtype='int64'),
 'ATQ     ': Int64Index([801, 802, 803, 8572], dtype='int64'),
 'ATW     ': Int64Index([5459, 6272, 6273], dtype='int64'),
 'AUA     ': Int64Index([3650, 3651, 3652, 3653, 6525, 6526], dtype='int64'),
 'AUH     ': Int64Index([733, 734, 1605, 4206, 4207, 7579, 7580], dtype='int64'),
 'AUS     ': Int64Index([ 380,  381, 1891, 2304, 2305, 2306, 2307, 3535, 3536, 3678, 3679,
             3680, 3681, 4048, 4049, 4342, 4343, 4344, 4345, 4995, 4996, 5559,
             5560, 5561, 5562, 5769, 5770, 5771, 5772, 5994, 5995, 8243, 8500,
             8949, 8950, 9259, 9836, 9837],
            dtype='int64'),
 'AVL     ': Int64Index([1533, 1534, 9595, 9596], dtype='int64'),
 'AVP     ': Int64Index([7114, 7115], dtype='int64'),
 'AXM     ': Int64Index([1097, 1098, 1099, 1100], dtype='int64'),
 'AYT     ': Int64Index([81, 82, 83, 500, 1710, 1711, 1712, 1713, 1714, 1715, 8363, 8364,
             8756, 8757],
            dtype='int64'),
 'BAH     ': Int64Index([4959, 6930, 7063, 7064, 8139], dtype='int64'),
 'BBI     ': Int64Index([151, 152, 1487, 1488, 1489, 1490, 1491, 1872, 1873, 2356, 2357,
             2358],
            dtype='int64'),
 'BCD     ': Int64Index([2899, 3124, 3125, 3126, 3127], dtype='int64'),
 'BCN     ': Int64Index([ 320,  321,  979, 1108, 1149, 1182, 2361, 2362, 2363, 2364, 2365,
             2366, 2367, 2368, 2852, 2853, 2870, 2871, 3624, 3625, 4275, 4564,
             5139, 5256, 5257, 5258, 5620, 5621, 5622, 6466, 6467, 7200, 7820,
             7821, 7953, 7954, 7955, 8085, 8086, 8410, 8411, 9190, 9191, 9192,
             9193, 9194, 9255, 9256, 9257, 9258, 9770, 9771, 9772, 9773],
            dtype='int64'),
 'BDA     ': Int64Index([5839], dtype='int64'),
 'BDL     ': Int64Index([6034, 6035, 8012, 9016, 9017, 9018, 9019], dtype='int64'),
 'BEG     ': Int64Index([5649], dtype='int64'),
 'BEY     ': Int64Index([ 415,  416,  509,  510, 3797, 3798, 4497, 4498, 4499, 4724, 5773,
             5774, 6559, 6560, 6561, 6562, 6563, 6564, 6890, 8890, 8891, 9745,
             9746, 9747],
            dtype='int64'),
 'BFN     ': Int64Index([1371, 1372], dtype='int64'),
 'BGA     ': Int64Index([5598, 5599, 6862, 6863, 6864, 6865], dtype='int64'),
 'BGI     ': Int64Index([3568, 3569, 3570, 3571, 3772, 3773, 4404, 4405, 4406, 4407, 5884,
             5885, 6726, 6727, 6728, 6729],
            dtype='int64'),
 'BGO     ': Int64Index([1359, 7151, 7152, 7153, 7154, 8670, 8671, 8970, 8971], dtype='int64'),
 'BHH     ': Int64Index([4594], dtype='int64'),
 'BHM     ': Int64Index([ 497,  498,  499, 1012, 2254, 2255, 5020, 5021, 5022, 5023, 5024,
             5025, 5929, 5930, 6970, 6971, 8181],
            dtype='int64'),
 'BHX     ': Int64Index([1338, 1339, 1340, 1341, 2575, 2576, 6206, 6207, 7551, 7552, 7553,
             7554],
            dtype='int64'),
 'BIO     ': Int64Index([8165, 8166, 8464, 8465, 8752, 8753, 8754, 8755], dtype='int64'),
 'BIQ     ': Int64Index([1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160], dtype='int64'),
 'BJA     ': Int64Index([1465, 1466, 1467, 1468, 2375], dtype='int64'),
 'BJV     ': Int64Index([ 695,  696, 2744, 2745, 2746, 2747, 2748, 2749, 5302, 5303, 5304,
             5305, 6933, 6934],
            dtype='int64'),
 'BJX     ': Int64Index([ 983,  984, 2006, 2007, 2008, 2009, 2010, 2011, 4178, 4179, 7901,
             7902, 7903, 7904, 7905, 7906],
            dtype='int64'),
 'BKI     ': Int64Index([7005, 7006], dtype='int64'),
 'BKK     ': Int64Index([ 100,  101, 1019, 1020, 1111, 1829, 1830, 1831, 1832, 1833, 2270,
             2271, 2858, 2859, 2860, 2861, 2862, 2863, 3490, 3491, 3764, 3765,
             4297, 4298, 4299, 4300, 4301, 4302, 4317, 4318, 4997, 4998, 5382,
             5383, 5691, 6161, 6162, 6163, 6676, 6696, 6697, 6698, 6699, 7071,
             7072, 7073, 7074, 7137, 7138, 7139, 7140, 7253, 7885, 7886, 7964,
             7965, 7974, 7975, 8810, 8812, 8813, 9086, 9087, 9088, 9369, 9370,
             9371, 9372, 9738],
            dtype='int64'),
 'BLJ     ': Int64Index([5387, 5388], dtype='int64'),
 'BLL     ': Int64Index([3710, 3711], dtype='int64'),
 'BLQ     ': Int64Index([718, 719, 2671, 2672, 5183, 5184, 5185], dtype='int64'),
 'BLR     ': Int64Index([49, 50, 51, 308, 4992, 8104, 8105, 8106, 8107, 8164], dtype='int64'),
 'BME     ': Int64Index([8132], dtype='int64'),
 'BNA     ': Int64Index([ 372,  373,  374,  375,  376,  377,  774,  775,  776,  777, 3030,
             3031, 3108, 3109, 3759, 3760, 3761, 3762, 5390, 5391, 8178, 8179,
             9882, 9883],
            dtype='int64'),
 'BNE     ': Int64Index([ 335,  336,  337,  338,  795,  796, 1962, 1963, 1964, 4392, 4393,
             6692, 6693, 6694, 6695, 7799, 7800, 7801, 7802, 7803, 7804, 8879,
             8880, 9373, 9374, 9375],
            dtype='int64'),
 'BOD     ': Int64Index([6876, 6877], dtype='int64'),
 'BOG     ': Int64Index([ 602,  603,  604,  605,  606,  607,  608,  609, 2625, 2626, 2627,
             2628, 2629, 2630, 2631, 3362, 3363, 3364, 3458, 3459, 3460, 3461,
             6732, 6733, 7110, 7111, 9028, 9029],
            dtype='int64'),
 'BOI     ': Int64Index([143, 144, 567, 1747, 4061, 4062, 4063, 4064, 4514, 9967, 9968], dtype='int64'),
 'BOM     ': Int64Index([ 576,  577,  622,  623,  624, 1296, 1297, 1298, 1299, 1861, 1862,
             2208, 2209, 2864, 2865, 2866, 2867, 3441, 3442, 3443, 3476, 3596,
             3597, 3887, 3995, 3996, 3997, 4086, 4087, 4088, 4089, 4322, 4323,
             4748, 4968, 4969, 5654, 5655, 6038, 6039, 6040, 6041, 7932, 8581,
             8582, 8685, 8894, 8895, 9652, 9653, 9654, 9655],
            dtype='int64'),
 'BOS     ': Int64Index([ 182,  183,  221,  222,  463,  586,  587,  588,  589, 1037, 1038,
             2053, 2054, 2055, 2056, 2057, 2058, 2186, 2187, 2595, 2596, 2819,
             2820, 3145, 3146, 3284, 4379, 4380, 4710, 4711, 5439, 5440, 5763,
             5764, 5781, 5782, 5783, 5784, 5997, 5998, 5999, 6000, 6001, 6002,
             6003, 6174, 6175, 6228, 6266, 6267, 6344, 6468, 6469, 6544, 6545,
             6866, 8030, 8031, 8032, 8033, 8034, 8035, 8054, 8055, 8213, 8214,
             8256, 8272, 8273, 8274, 8275, 8916, 9037, 9038, 9482, 9483, 9591,
             9592, 9894, 9895, 9896, 9897, 9930, 9931, 9943, 9944, 9945, 9946],
            dtype='int64'),
 'BPS     ': Int64Index([3634, 3635, 4756, 4757], dtype='int64'),
 'BQK     ': Int64Index([3548, 3549, 4035, 4036, 4037, 4038, 4039, 4040], dtype='int64'),
 'BRC     ': Int64Index([9063, 9064, 9065, 9066], dtype='int64'),
 'BRD     ': Int64Index([455, 456], dtype='int64'),
 'BRE     ': Int64Index([5656, 9270], dtype='int64'),
 'BRI     ': Int64Index([2402, 2403, 2404, 2405, 2406, 2407, 4155, 4156, 4157, 4158, 4159,
             4160],
            dtype='int64'),
 'BRM     ': Int64Index([9444, 9445, 9446], dtype='int64'),
 'BRU     ': Int64Index([ 262,  263,  264,  265,  735,  736, 2149, 2150, 2151, 2445, 2959,
             2960, 2961, 2962, 4142, 4143, 5052, 5053, 6580, 6581, 7182, 7183,
             7194, 7195, 8592, 8593, 8828, 8829, 8830, 8831],
            dtype='int64'),
 'BRW     ': Int64Index([3850, 3851], dtype='int64'),
 'BSL     ': Int64Index([8280, 8281, 9656], dtype='int64'),
 'BTM     ': Int64Index([5985, 5986], dtype='int64'),
 'BTR     ': Int64Index([4437, 4438], dtype='int64'),
 'BTV     ': Int64Index([7559], dtype='int64'),
 'BUD     ': Int64Index([ 957,  958,  959,  960, 3176, 3177, 3178, 3179, 3180, 3181, 3406,
             3407, 3408, 3409, 4015, 4229, 4230, 4231, 4232, 4820, 5708, 5709,
             5710, 5711, 6239, 6240, 6241, 6242, 6281, 6282, 6283, 6284, 6285,
             6286, 6405, 6406, 7043, 7044, 8049, 8050, 8761, 8762],
            dtype='int64'),
 'BUF     ': Int64Index([358, 359, 1645, 3003, 4774, 5543, 5544, 6492, 6493, 8306, 8307], dtype='int64'),
 'BUR     ': Int64Index([3020, 4535, 4536, 4537, 4538], dtype='int64'),
 'BWI     ': Int64Index([  52,   53,  102,  103, 1531, 1532, 1566, 1567, 1568, 1569, 1887,
             1888, 1958, 2222, 2223, 2723, 2724, 3190, 3191, 4002, 4003, 4004,
             4005, 4006, 4533, 4534, 4553, 4554, 4712, 4713, 4921, 5494, 5495,
             5496, 5497, 5498, 5499, 5537, 5538, 6185, 6186, 6187, 6188, 6189,
             6533, 6534, 6759, 6760, 6796, 6797, 7176, 7390, 7391, 7392, 7393,
             7851, 7852, 7948, 8141, 8142, 8842, 8843, 8955, 8956, 9459],
            dtype='int64'),
 'BWN     ': Int64Index([8095, 8096, 8097, 8098], dtype='int64'),
 'BZE     ': Int64Index([5332, 5333, 5334, 5335, 5336, 5337], dtype='int64'),
 'CAG     ': Int64Index([164, 165, 166, 167], dtype='int64'),
 'CAI     ': Int64Index([ 126,  127,  554,  555, 1471, 1472, 1473, 1474, 2386, 2387, 2426,
             2427, 2428, 2429, 3266, 3267, 3347, 3668, 3669, 3670, 4962, 5128,
             5129, 5130, 5131, 5132, 5133, 5134, 5135, 6122, 6123, 6208, 6209,
             6210, 6211, 6212, 6213, 6214, 6215, 6785, 6786, 7379, 7796, 7797,
             7798],
            dtype='int64'),
 'CAK     ': Int64Index([1737, 1738, 7174, 7175, 8514], dtype='int64'),
 'CAN     ': Int64Index([ 728,  729,  730,  731, 2670, 3376, 3377, 3378, 3379, 3572, 3573,
             3574, 4303, 4304, 4305, 4306, 4626, 4627, 4692, 4693, 4901, 4928,
             4929, 4930, 4931, 5911, 5912, 5913, 5914, 5915, 5916, 5917, 5918,
             5919, 5920, 5940, 5941, 5942, 6202, 6203, 6204, 6205, 7294, 7493,
             7494, 7495, 7496, 7497, 8729, 8730, 8731, 8732, 9098, 9099, 9100,
             9101],
            dtype='int64'),
 'CBR     ': Int64Index([656, 657, 658, 659], dtype='int64'),
 'CCJ     ': Int64Index([ 324,  325,  326,  327,  477,  478,  479,  480,  481,  482,  483,
             3253, 3254, 3255, 4090, 4766, 4767, 4956, 4957, 4958, 5392, 5393,
             5394, 5395, 5748, 5749, 5750, 5751, 7506, 9421, 9422],
            dtype='int64'),
 'CCP     ': Int64Index([2220, 2221, 5510, 5511, 5512, 5513], dtype='int64'),
 'CCS     ': Int64Index([ 354,  355, 2341, 2342, 4598, 5098, 5099, 5100, 5101, 5102, 5103,
             5104, 5105, 5106, 7159, 7160, 8735, 9218, 9219, 9220, 9221, 9222],
            dtype='int64'),
 'CCU     ': Int64Index([7068, 7193], dtype='int64'),
 'CDG     ': Int64Index([  93,   94,  124,  125,  244,  255,  758,  759,  760,  761,
             ...
             9519, 9520, 9521, 9522, 9549, 9550, 9551, 9552, 9909, 9910],
            dtype='int64', length=151),
 'CEB     ': Int64Index([2064, 2065, 3233, 3234, 5136, 5137, 5138, 8632, 8633], dtype='int64'),
 'CEK     ': Int64Index([2437, 2438, 3433, 3434, 5574, 5575, 5576, 5577], dtype='int64'),
 'CFE     ': Int64Index([2987, 2988], dtype='int64'),
 'CGK     ': Int64Index([ 328,  329,  330,  331,  360,  361,  362,  363, 2649, 2650, 3149,
             4541, 4542, 4543, 4544, 4662, 4663, 6745, 6746, 6747, 6748, 6749,
             6750, 6751, 8665, 8672, 8673, 8674, 8675, 8691, 8733, 8734],
            dtype='int64'),
 'CGN     ': Int64Index([1348, 1349, 1350, 1351, 9663, 9664], dtype='int64'),
 'CGO     ': Int64Index([2218, 2219, 5862, 5863], dtype='int64'),
 'CHA     ': Int64Index([7600, 7601], dtype='int64'),
 'CHC     ': Int64Index([8425, 8426], dtype='int64'),
 'CHQ     ': Int64Index([594, 595, 3854, 3855, 3856, 3857], dtype='int64'),
 'CHS     ': Int64Index([4041, 4042, 4889, 4890, 4891, 4892, 5846, 9462, 9463, 9768, 9769], dtype='int64'),
 'CID     ': Int64Index([2041, 2042, 7170, 7171], dtype='int64'),
 'CJS     ': Int64Index([2090, 2091, 2092, 2093], dtype='int64'),
 'CLE     ': Int64Index([3638, 3639, 3640, 3641, 6599, 6600, 7369, 7370, 7371, 7372, 8022,
             8023, 8024, 8025, 8026, 8889],
            dtype='int64'),
 'CLJ     ': Int64Index([4091, 4092, 6738, 6739], dtype='int64'),
 'CLO     ': Int64Index([2140, 2141, 2971, 2972, 2973, 2974, 2975, 2976, 3369, 3370, 3371,
             7255, 7256],
            dtype='int64'),
 'CLT     ': Int64Index([   1,    2,  501,  502,  503,  504,  688,  689,  714,  715,  716,
              717,  794, 1530, 1596, 1597, 1598, 1599, 2072, 2073, 3016, 3037,
             3339, 3340, 3911, 3912, 4009, 4010, 4530, 4531, 5472, 5974, 5975,
             6625, 7845, 8114, 8115, 8552, 8553, 9241, 9242, 9243, 9244, 9245,
             9246, 9348, 9349, 9628, 9629, 9630, 9631],
            dtype='int64'),
 'CMB     ': Int64Index([ 740,  741,  742,  743, 2392, 3064, 3065, 4559, 4560, 4908, 4909,
             4910, 4911, 4912, 4913, 5170, 5299, 5704, 5705, 5724, 6132, 8246,
             8247, 8340, 9007, 9008],
            dtype='int64'),
 'CMH     ': Int64Index([1813, 1814, 2476, 3676, 3677, 7225, 7508, 7509], dtype='int64'),
 'CMN     ': Int64Index([1211, 1212, 1982, 1983, 3500, 3501, 3502, 3503, 3504, 3505, 3506,
             3507, 4210, 4211, 6650, 6651, 6652, 6653, 6654, 6655, 6656, 6657,
             7079, 7080, 9677, 9678, 9924, 9925, 9926, 9927, 9928, 9929],
            dtype='int64'),
 'CNS     ': Int64Index([2343, 2344, 3466, 3467, 9784, 9785], dtype='int64'),
 'CNX     ': Int64Index([3279, 3280], dtype='int64'),
 'COK     ': Int64Index([332, 552, 553, 6859, 6860, 6861, 9055, 9056], dtype='int64'),
 'COR     ': Int64Index([5719, 5720, 5721, 5722], dtype='int64'),
 'COS     ': Int64Index([170, 171, 4557, 4558], dtype='int64'),
 'CPH     ': Int64Index([1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 4455, 4456, 5108,
             5109, 5110, 5111, 5112, 5113, 5790, 5791, 5792, 5793, 6366, 6367,
             6368, 6369, 6370, 6485, 6486, 7458, 7459, 7822, 7823, 7854, 7855,
             8186, 8187, 8188, 8189, 8190, 8248, 8249, 9693, 9694, 9695, 9696],
            dtype='int64'),
 'CPR     ': Int64Index([3963, 5250, 5251], dtype='int64'),
 'CPT     ': Int64Index([6958, 6959, 6960, 6961, 7350, 7351, 7352, 7353, 7430, 7431, 8850,
             8851, 9108, 9109, 9110, 9111, 9112, 9113, 9114, 9115, 9116],
            dtype='int64'),
 'CRK     ': Int64Index([1021, 1022], dtype='int64'),
 'CRL     ': Int64Index([9273, 9274], dtype='int64'),
 'CRW     ': Int64Index([6392, 6393, 7504, 7505], dtype='int64'),
 'CSG     ': Int64Index([7309, 7310, 7311], dtype='int64'),
 'CTA     ': Int64Index([20, 21, 3946, 3947, 6448, 6449, 6450, 6451, 6548, 6549, 8579], dtype='int64'),
 'CTG     ': Int64Index([1976, 1977, 6276, 6277], dtype='int64'),
 'CTS     ': Int64Index([5486, 5487, 5488, 5489, 5490, 5491, 5652, 5653, 9424, 9425], dtype='int64'),
 'CTU     ': Int64Index([7291, 7292, 7293], dtype='int64'),
 'CUC     ': Int64Index([4203], dtype='int64'),
 'CUL     ': Int64Index([1014, 1015], dtype='int64'),
 'CUN     ': Int64Index([ 570,  571,  631,  632,  633,  634, 2501, 2502, 2909, 2910, 3189,
             3659, 3660, 3661, 3662, 3838, 3839, 3840, 3841, 3842, 3843, 3941,
             3942, 3943, 3944, 4549, 4550, 4551, 4552, 4650, 4651, 4652, 4653,
             4654, 4655, 4656, 4657, 4738, 4739, 5277, 5278, 5825, 5826, 5873,
             5874, 6304, 6305, 9178, 9179, 9180, 9181, 9182, 9183, 9266, 9267,
             9346, 9347, 9524, 9525, 9699, 9700],
            dtype='int64'),

In [39]:
#we have white spaces in the content of arr_port
arr_ports.get_group('ADD     ')

      arr_port  pax
207   ADD         1
208   ADD         1
301   ADD         1
302   ADD        -1
2302  ADD         1
2303  ADD         1
3517  ADD         1
3518  ADD         1
3519  ADD        -1
3520  ADD        -1
5735  ADD         1
5736  ADD         1
6216  ADD         1

In [41]:
arr_ports['pax'].sum()

arr_port
AAL          0
ABQ         12
ABV          2
ABZ         -6
ACC          4
ADD          7
ADZ          2
AEP          7
AER          1
AES          3
AFA          2
AGA          0
AGP          8
AGU          4
AGX          2
AJA          7
AJF          2
AKL          2
ALA          6
ALB          2
ALC          9
ALG         26
AMD          2
AMM         16
AMS         36
ANC          4
ANF          2
ANU          0
AOE          1
AOI          0
            ..
XNB          2
XQP          2
YAY         -2
YCD          3
YEG         15
YHD         -1
YHZ          4
YMM          0
YNB          0
YOW          0
YQM          0
YQQ          2
YQT          1
YQU          1
YTM          4
YUL         14
YVO          1
YVR         17
YWG          6
YXE          1
YXS          2
YXY          1
YYC         15
YYJ          3
YYZ         34
YZF          4
ZAG         -4
ZNZ          1
ZRH         16
ZYL         -1
Name: pax, Length: 663, dtype: int64

In [47]:
arr_ports.sum().sort_values('pax', ascending=False).head(10)

          pax
arr_port
HKG       112
LGA        95
ORD        94
JFK        92
LAX        91
SFO        91
MCO        90
DCA        82
DEN        79
LHR        76

## 5) Adjust the code to work with Big data

What do we have so far?

In [49]:
b = pd.read_csv('bookings_sample.csv.bz2',sep='^', usecols=['year','pax','arr_port'] )
b=b.dropna()
b=b[    b['year']==2013   ]
del b['year']
top_airports=arr_ports.sum().sort_values('pax', ascending=False).head(10)
top_airports

          pax
arr_port
HKG       112
LGA        95
ORD        94
JFK        92
LAX        91
SFO        91
MCO        90
DCA        82
DEN        79
LHR        76

#### we have to read the whole file... and with nrows we are reading ALWAYS the first N rows...

Option for reading the file:
    1) iterator=true and get_chunk
    2) define chunk_size

#### 1) iterator=true and get_chunk

In [50]:
b = pd.read_csv('bookings_sample.csv.bz2',sep='^', usecols=['year','pax','arr_port'], iterator=True )

In [51]:
type(b)

pandas.io.parsers.TextFileReader

In [52]:
b0=b.get_chunk(6000)

In [55]:
b0.shape

(6000, 3)

In [56]:
b1=b.get_chunk(3000)
b1.shape

(3000, 3)

In [57]:
#it will not fail if it has at least 1 element still not read 
b2=b.get_chunk(20000000)
b2.shape

(999, 3)

In [58]:
#now it fails since the whole file is read and it has nothing to return
b3=b.get_chunk(1)
b3.shape

StopIteration:

#### 2) define chunk size

In [59]:
b = pd.read_csv('bookings_sample.csv.bz2',sep='^', usecols=['year','pax','arr_port'], chunksize=1000 )

In [60]:
type(b)

pandas.io.parsers.TextFileReader

In [61]:
b0=next(b)

In [62]:
type(b0)

pandas.core.frame.DataFrame

In [63]:
b0.shape

(1000, 3)

In [66]:
#this is to see that the data of each chunk is different
#we stop at 4th chunk
bc = pd.read_csv('bookings_sample.csv.bz2',sep='^', usecols=['year','pax','arr_port'], chunksize=1000 )
for i, chunk in enumerate(bc):
    print (chunk.head())
    print ("---------------------")
    if i==3:
        break

   arr_port  pax  year
0  LHR        -1  2013
1  CLT         1  2013
2  CLT         1  2013
3  SVO         1  2013
4  SVO         1  2013
---------------------
      arr_port  pax  year
1000  TPE         3  2013
1001  TPE         3  2013
1002  TPE        -3  2013
1003  TPE         3  2013
1004  TPE        -3  2013
---------------------
      arr_port  pax  year
2000  LHE         1  2013
2001  HBE        -1  2013
2002  HBE         1  2013
2003  HBE        -1  2013
2004  ICN        -1  2013
---------------------
      arr_port  pax  year
3000  DEN         1  2013
3001  LAX         1  2013
3002  LAX         1  2013
3003  BUF         2  2013
3004  PVG         1  2013
---------------------

#### How do we get the all the results of all chunks at one place?

In [ ]:
One of the Options:
    1) df.append()
    2) df.concat()

We need to  create an empty dataFrame in which we are going to store the results of each chunk.

For each chunk We can reuse the code developped for the sample data but we dont need to sort nor take the top 10. 

-> Sorting would not influence the final result but it is unnecessary for each chunk

-> Top 10 would only save 10 results for each chunk but we need them all

In [74]:
bc = pd.read_csv('bookings_sample.csv.bz2',sep='^', usecols=['year','pax','arr_port'], chunksize=1000 )

sum_all_chunks=pd.DataFrame()

for i, chunk in enumerate(bc):
    b=chunk.dropna()
    b=b[    b['year']==2013   ]
    del b['year']
    arr_ports=b.groupby('arr_port')
    chunk_airports=arr_ports.sum()
    sum_all_chunks=sum_all_chunks.append(chunk_airports)

top_airports=sum_all_chunks.reset_index().groupby('arr_port').sum().sort_values('pax', ascending=False).head(10)
top_airports

          pax
arr_port
HKG       112
LGA        95
ORD        94
JFK        92
LAX        91
SFO        91
MCO        90
DCA        82
DEN        79
LHR        76

Once we run the chunk approach on sample data and obtain the same results as with simple code we are ready to move on the big file.

## Pre-Bonus Solution

In [76]:
%%time
bc = pd.read_csv('bookings.csv.bz2',sep='^', usecols=['year','pax','arr_port'], chunksize=1000000 )

sum_all_chunks=pd.DataFrame()

for i, chunk in enumerate(bc):
    print (i)
    b=chunk.dropna()
    b=b[    b['year']==2013   ]
    del b['year']
    arr_ports=b.groupby('arr_port')
    chunk_airports=arr_ports.sum()
    sum_all_chunks=sum_all_chunks.append(chunk_airports)

top_airports=sum_all_chunks.reset_index().groupby('arr_port').sum().sort_values('pax', ascending=False)

0
1
2
3
4
5
6
7
8
9
10
CPU times: user 5min 24s, sys: 3.62 s, total: 5min 28s
Wall time: 5min 29s

In [79]:
top_airports.head(10)

              pax
arr_port
LHR       88809.0
MCO       70930.0
LAX       70530.0
LAS       69630.0
JFK       66270.0
CDG       64490.0
BKK       59460.0
MIA       58150.0
SFO       58000.0
DXB       55590.0

### Now we've got top airports

we have to install geobases
pip install GeoBases

In [80]:
from GeoBases import GeoBase

In [81]:
geoDict=GeoBase(data='ori_por', verbose=False)

In [82]:
type(geoDict)

GeoBases.GeoBaseModule.GeoBase

In [84]:
geoDict.keys()[:10]

['AAA', 'AAA@1', 'AAB', 'AAC', 'AAC@1', 'AAE', 'AAE@1', 'AAF', 'AAF@1', 'AAG']

In [85]:
geoDict.fields

['__key__',
 '__dup__',
 '__par__',
 '__lno__',
 'iata_code',
 'icao_code',
 'faa_code',
 'is_geonames',
 'geoname_id',
 'valid_id',
 'name',
 'asciiname',
 'lat',
 'lng',
 'fclass',
 'fcode',
 'page_rank',
 'date_from',
 'date_until',
 'comment',
 'country_code',
 'cc2',
 'country_name',
 'continent_name',
 'adm1_code',
 'adm1_name_utf',
 'adm1_name_ascii',
 'adm2_code',
 'adm2_name_utf',
 'adm2_name_ascii',
 'adm3_code',
 'adm4_code',
 'population',
 'elevation',
 'gtopo30',
 'timezone',
 'gmt_offset',
 'dst_offset',
 'raw_offset',
 'moddate',
 'city_code',
 'city_name_utf',
 'city_name_ascii',
 'tvl_por_list@raw',
 'tvl_por_list',
 'state_code',
 'location_type@raw',
 'location_type',
 'wiki_link',
 'alt_name_section@raw',
 'alt_name_section',
 '__gar__']

In [86]:
geoDict.get('MAD')

{'__dup__': ['MAD@1'],
 '__gar__': [],
 '__key__': 'MAD',
 '__lno__': 7379,
 '__par__': [],
 'adm1_code': '29',
 'adm1_name_ascii': 'Madrid',
 'adm1_name_utf': 'Madrid',
 'adm2_code': 'M',
 'adm2_name_ascii': 'Provincia de Madrid',
 'adm2_name_utf': 'Provincia de Madrid',
 'adm3_code': '28079',
 'adm4_code': '',
 'alt_name_section': (('es', 'Aeropuerto de Madrid', ''),
  ('es', 'Barajas', ''),
  ('de', 'Flughafen Madrid', 'p')),
 'alt_name_section@raw': 'es|Aeropuerto de Madrid|=es|Barajas|=de|Flughafen Madrid|p',
 'asciiname': 'Madrid / Barajas',
 'cc2': '',
 'city_code': 'MAD',
 'city_name_ascii': 'Madrid',
 'city_name_utf': 'Madrid',
 'comment': '',
 'continent_name': 'Europe',
 'country_code': 'ES',
 'country_name': 'Spain',
 'date_from': '',
 'date_until': '',
 'dst_offset': '2.0',
 'elevation': '609',
 'faa_code': '',
 'fclass': 'S',
 'fcode': 'AIRP',
 'geoname_id': '6299345',
 'gmt_offset': '1.0',
 'gtopo30': '575',
 'iata_code': 'MAD',
 'icao_code': 'LEMD',
 'is_geonames': 'Y',
 'lat': '40.493556',
 'lng': '-3.566764',
 'location_type': ('A',),
 'location_type@raw': 'A',
 'moddate': '2012-03-04',
 'name': 'Madrid / Barajas',
 'page_rank': '0.392784873731',
 'population': '0',
 'raw_offset': '1.0',
 'state_code': '',
 'timezone': 'Europe/Madrid',
 'tvl_por_list': (),
 'tvl_por_list@raw': '',
 'valid_id': '',
 'wiki_link': 'http://en.wikipedia.org/wiki/Madrid-Barajas_Airport'}

In [87]:
geoDict.get('LHR')['name']

'London Heathrow Airport'

In [90]:
top_airports=top_airports.reset_index()

In [92]:
top_airports.arr_port[0].strip()

'LHR'

In [93]:
geoDict.get(    top_airports.arr_port[0].strip()    )['name']

'London Heathrow Airport'

In [94]:
top_airports['name']=top_airports.arr_port.map( lambda x: geoDict.get(   x.strip()    )['name']    )

In [95]:
top_airports.head()

   arr_port      pax                                  name
0  LHR       88809.0               London Heathrow Airport
1  MCO       70930.0         Orlando International Airport
2  LAX       70530.0     Los Angeles International Airport
3  LAS       69630.0       Mc Carran International Airport
4  JFK       66270.0  John F Kennedy International Airport

In [96]:
top_airports=top_airports.astype({"pax":int})

In [97]:
top_airports.head()

   arr_port    pax                                  name
0  LHR       88809               London Heathrow Airport
1  MCO       70930         Orlando International Airport
2  LAX       70530     Los Angeles International Airport
3  LAS       69630       Mc Carran International Airport
4  JFK       66270  John F Kennedy International Airport

We need the results for the exercise 5 of the challenge

In [98]:
top_airports.to_csv('top_airports.csv', sep='^', index=False)

In [99]:
! head top_airports.csv

arr_port^pax^name
LHR     ^88809^London Heathrow Airport
MCO     ^70930^Orlando International Airport
LAX     ^70530^Los Angeles International Airport
LAS     ^69630^Mc Carran International Airport
JFK     ^66270^John F Kennedy International Airport
CDG     ^64490^Paris - Charles-de-Gaulle
BKK     ^59460^Suvarnabhumi
MIA     ^58150^Miami International Airport
SFO     ^58000^San Francisco International Airport