# Exercise 1: Count the number of lines in Python for each file

## Moving to folder data and clean it

In [1]:
pwd

'/home/gonzalo/Escritorio'

In [2]:
cd /home/gonzalo/Data/challenge/

/home/gonzalo/Data/challenge

In [3]:
pwd

'/home/gonzalo/Data/challenge'

In [4]:
% ll

total 1094060
-rwxr-x--- 1 gonzalo 554970628 mar 13  2018 bookings.csv.bz2*
-rwxrwxrwx 1 gonzalo  56437955 ene 26 12:16 booking_wo_duplicates.csv.bz2*
-rwxrwxrwx 1 gonzalo   4232732 ene 25 17:18 sample_bookings.csv*
-rwxrwxrwx 1 gonzalo    244720 ene 25 17:19 sample_searches.csv.bz2*
-rwxr-x--- 1 gonzalo 483188920 mar 13  2018 searches.csv.bz2*
-rwxrwxrwx 1 gonzalo  10013467 ene 26 12:29 searches_wo_duplicates.csv.bz2*
-rw-r--r-- 1 gonzalo  11203614 ene 26 13:46 search_with_booking.csv.bz2
-rw-r--r-- 1 gonzalo       476 ene 25 21:23 top_airport.csv

In [5]:
! rm booking_wo_duplicates.csv.bz2 sample_bookings.csv sample_searches.csv.bz2 searches_wo_duplicates.csv.bz2 search_with_booking.csv.bz2 top_airport.csv

In [6]:
% ll

total 1013840
-rwxr-x--- 1 gonzalo 554970628 mar 13  2018 bookings.csv.bz2*
-rwxr-x--- 1 gonzalo 483188920 mar 13  2018 searches.csv.bz2*

In [15]:
! bzcat bookings.csv.bz2 | head -2

act_date           ^source^pos_ctry^pos_iata^pos_oid  ^rloc          ^cre_date           ^duration^distance^dep_port^dep_city^dep_ctry^arr_port^arr_city^arr_ctry^lst_port^lst_city^lst_ctry^brd_port^brd_city^brd_ctry^off_port^off_city^off_ctry^mkt_port^mkt_city^mkt_ctry^intl^route          ^carrier^bkg_class^cab_class^brd_time           ^off_time           ^pax^year^month^oid
2013-03-05 00:00:00^1A    ^DE      ^a68dd7ae953c8acfb187a1af2dcbe123^1a11ae49fcbf545fd2afc1a24d88d2b7^ea65900e72d71f4626378e2ebd298267^2013-02-22 00:00:00^1708^0^ZRH     ^ZRH     ^CH      ^LHR     ^LON     ^GB      ^ZRH     ^ZRH     ^CH      ^LHR     ^LON     ^GB      ^ZRH     ^ZRH     ^CH      ^LHRZRH  ^LONZRH  ^CHGB    ^1^LHRZRH         ^VI^T        ^Y        ^2013-03-07 08:50:00^2013-03-07 11:33:37^-1^2013^3^NULL

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = bookings.csv.bz2, output file = (stdout)

In [16]:
! bzcat searches.csv.bz2 | head -2

Date^Time^TxnCode^OfficeID^Country^Origin^Destination^RoundTrip^NbSegments^Seg1Departure^Seg1Arrival^Seg1Date^Seg1Carrier^Seg1BookingCode^Seg2Departure^Seg2Arrival^Seg2Date^Seg2Carrier^Seg2BookingCode^Seg3Departure^Seg3Arrival^Seg3Date^Seg3Carrier^Seg3BookingCode^Seg4Departure^Seg4Arrival^Seg4Date^Seg4Carrier^Seg4BookingCode^Seg5Departure^Seg5Arrival^Seg5Date^Seg5Carrier^Seg5BookingCode^Seg6Departure^Seg6Arrival^Seg6Date^Seg6Carrier^Seg6BookingCode^From^IsPublishedForNeg^IsFromInternet^IsFromVista^TerminalID^InternetOffice
2013-01-01^20:25:57^MPT^624d8c3ac0b3a7ca03e3c167e0f48327^DE^TXL^AUH^1^2^TXL^AUH^2013-01-26^D2^^AUH^TXL^2013-02-02^D2^^^^^^^^^^^^^^^^^^^^^^1ASIWS^0^0^0^d41d8cd98f00b204e9800998ecf8427e^FRA

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = searches.csv.bz2, output file = (stdout)

## Create samples in order to work easier with them

In [8]:
import pandas as pd
import os

In [11]:
list_of_documents = os.listdir('.')
list_of_documents

['bookings.csv.bz2', 'searches.csv.bz2']

In [18]:
b_sample = pd.read_csv(list_of_documents[0], sep='^', nrows=10000)
b_sample.sample(5)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
5411,2013-03-11 00:00:00,1A,FR,2334c1467da16e9dcfd0ac179941b3b2,e787f494ce7fe482936a95765627b57d,c7a09141ccd49f5d715b526847c30dd4,2013-03-11 00:00:00,47470,0,CDG,...,FIHBRUCDG,DX,E,Y,2013-06-15 20:25:00,2013-06-16 07:40:44,1,2013,3,PARA12263
2770,2013-03-18 00:00:00,1V,JP,75ad6fea47c9fd4ba9fb7a9aef158288,2459058088c7503fb6a7c02885e772ef,174eb4ea3a98fe60cbba9a0e911a852e,2013-03-18 00:00:00,14288,0,NRT,...,FCOMUC,VR,Z,C,2013-05-07 12:05:00,2013-05-07 13:44:31,1,2013,3,NULL
5865,2013-03-25 00:00:00,1P,MX,9c3f0abd29454092c1a91e33af912d84,94807d2cc40b27f71fb1891f9da93e52,34a7b4f803a0ce3ba98f09fb13317659,2013-03-25 00:00:00,6355,0,MEX,...,HMOMEX,KW,K,Y,2013-04-05 12:43:00,2013-04-05 16:25:12,3,2013,3,NULL
129,2013-03-05 00:00:00,1S,CA,cb58cd5ade1840e4ab06e007586091aa,30e54d5fd8a08c8c5c0b7086d4d8f56c,c45de47c67dc9aa02dca77233859ef01,2013-03-05 00:00:00,19713,0,YYZ,...,TLVYYZ,VJ,N,Y,2013-09-01 00:50:00,2013-09-01 05:33:42,1,2013,3,NULL
8445,2013-03-28 00:00:00,1V,JP,bf63ae88f00b6d456b678aa5db045114,f0bdcdbd8412855399afd3c2ed38e861,5b4d7385def42e4aef12737ca118e275,2013-03-22 00:00:00,24666,0,NRT,...,TPENRT,XR,C,C,2013-05-03 08:45:00,2013-05-03 13:06:51,1,2013,3,NULL

In [19]:
s_sample = pd.read_csv(list_of_documents[1], sep='^', nrows=10000)
s_sample.sample(5)

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
3138,2013-01-04,13:45:27,MPT,f60e2ae7a4338f72f4b7c36b30a527ec,SE,STO,ZAG,1,2,STO,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO
5263,2013-01-06,08:41:57,FFP,53aea156edeed571bbc473c82b01ac4b,BR,REC,BEL,0,1,REC,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SAO
883,2013-01-01,18:29:06,MPT,440642a9bdaeb6287f826cefd73255e8,US,WAS,BUE,1,2,WAS,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,HPN
6662,2013-01-07,04:33:14,MPT,e8741eaf2fa2f71f931475d18fa72096,US,AMM,KWI,1,2,AMM,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SEA
1076,2013-01-02,12:43:38,MPT,440642a9bdaeb6287f826cefd73255e8,US,NYC,ZRH,1,2,NYC,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,HPN

In [34]:
#Code that we already have
b_sample = pd.read_csv(list_of_documents[0], sep='^', nrows=10000)
s_sample = pd.read_csv(list_of_documents[1], sep='^', nrows=10000)

## Algorithm to count rows for the documents

In [37]:
b_sample.shape[0]

10000

In [38]:
b_sample = pd.read_csv(list_of_documents[0], sep='^', nrows=10000, chunksize=100)
count = 0
for i, chunk in enumerate(b_sample):
    count += chunk.shape[0]
print('The sample dataframe of %s has %i rows' % (list_of_documents[0], count))

The sample dataframe of bookings.csv.bz2 has 10000 rows

## Apply to BigData documents

In [39]:
b = pd.read_csv(list_of_documents[0], sep='^', chunksize=500000, low_memory=False)
count = 0
for i, chunk in enumerate(b):
    count += chunk.shape[0]
print('The document %s has %i rows' % (list_of_documents[0], count))

The document bookings.csv.bz2 has 10000010 rows

# Final Algorithm for calculating rows of BigData documents

In [41]:
#Import libraries
import pandas as pd
import os

#finding names of documents as a list
documents_list = os.listdir('.')

#Loop for each document of the list of documents
for name_document in documents_list:
    document = pd.read_csv(name_document, sep='^', chunksize=500000, low_memory=False)
    count = 0
    for i, chunk in enumerate(document):
        count += chunk.shape[0]
    print('The document %s has %i rows' % (name_document, count))

The document bookings.csv.bz2 has 10000010 rows
The document searches.csv.bz2 has 20390198 rows