#### Exercise (homework)

Consolidate the excel into one DataFrame: you will need to create a 'YEAR' column. Think how you can iterate through all the DataFrames. Think also where you can take the value of 'YEAR' from.

In [2]:
#Import libraries
import pandas as pd

In [33]:
#Open document and investigate it
name_file = '207831-0-accidentes-trafico.xls'
sheet = '2009'
header = 
df = pd.read_excel(name_file, sheet_name=sheet, header=header)
df.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Indicadores,Nº Accidentes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Año,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total
3,DISTRITO_ACCIDENTE,COLISIÓN DOBLE,COLISIÓN MÚLTIPLE,CHOQUE CON OBJETO FIJO,ATROPELLO,VUELCO,CAÍDA MOTOCICLETA,CAÍDA CICLOMOTOR,CAÍDA BICICLETA,CAÍDA VIAJERO BUS,OTRAS CAUSAS,NaN
4,ARGANZUELA,389,54,126,75,9,43,9,4,5,8,722

In [35]:
#Function to open file depends on the sheet

def open_sheet_file(file_path, sheet):
    header = header_value(file_path, sheet)    
    return pd.read_excel(file_path, sheet_name=sheet, header=header)

In [38]:
#Function to find the header value

def header_value(file_path, sheet):
    header = 0
    for row in range(0,51):
        aux_file = pd.read_excel(file_path, sheet_name=sheet, header=header)
        if aux_file.index[0] == 'DISTRITO_ACCIDENTE':
            return header
    raise ValueError ('Header cannot be more than 50')

In [39]:
open_sheet_file(name_file, '2009')

ValueError: Header cannot be more than 50