# Open file

In [1]:
#File path

file_path = '/home/gonzalo/Data/us_dot/otp/'

In [2]:
#Look in the path

! ls -lrs  {file_path}

total 190216
    4 -rw-r--r-- 1 gonzalo gonzalo      146 nov 29 12:21 three_largest_file.txt
    4 -rw-r--r-- 1 gonzalo gonzalo      245 nov 24 13:30 three_largest_files.txt
25124 -rwxr-x--- 1 gonzalo gonzalo 25726054 mar 13  2018 On_Time_On_Time_Performance_2015_8.zip
25592 -rwxr-x--- 1 gonzalo gonzalo 26204213 mar 13  2018 On_Time_On_Time_Performance_2015_7.zip
25156 -rwxr-x--- 1 gonzalo gonzalo 25758350 mar 13  2018 On_Time_On_Time_Performance_2015_6.zip
23764 -rwxr-x--- 1 gonzalo gonzalo 24334057 mar 13  2018 On_Time_On_Time_Performance_2015_5.zip
23072 -rwxr-x--- 1 gonzalo gonzalo 23625261 mar 13  2018 On_Time_On_Time_Performance_2015_4.zip
24232 -rwxr-x--- 1 gonzalo gonzalo 24811186 mar 13  2018 On_Time_On_Time_Performance_2015_3.zip
20736 -rwxr-x--- 1 gonzalo gonzalo 21230105 mar 13  2018 On_Time_On_Time_Performance_2015_2.zip
22524 -rwxr-x--- 1 gonzalo gonzalo 23061340 mar 13  2018 On_Time_On_Time_Performance_2015_1.zip
    4 -rw-r--r-- 1 gonzalo gonzalo      413 nov 29 12:24 history_20.txt
    4 -rw-r--r-- 1 gonzalo gonzalo     2914 nov 24 13:31 history_20

In [3]:
! unzip -l {file_path}On_Time_On_Time_Performance_2015_8.zip

Archive:  /home/gonzalo/Data/us_dot/otp/On_Time_On_Time_Performance_2015_8.zip
  Length      Date    Time    Name
---------  ---------- -----   ----
230183662  2015-10-05 15:33   On_Time_On_Time_Performance_2015_8.csv
    12054  2015-10-05 15:33   readme.html
---------                     -------
230195716                     2 files

In [4]:
! unzip -o {file_path}On_Time_On_Time_Performance_2015_8.zip readme.html -d $(pwd)

Archive:  /home/gonzalo/Data/us_dot/otp/On_Time_On_Time_Performance_2015_8.zip
  inflating: /home/gonzalo/Repos/Master_Data_Science/WEEK-5_Pandas_Dataframe_2/readme.html

In [5]:
! ls -lrs

total 2096
  8 -rw-r--r-- 1 gonzalo gonzalo   7943 ene 18 20:45 tips.csv
 12 -rw-r--r-- 1 gonzalo gonzalo  12054 oct  5  2015 readme.html
 20 -rw-r--r-- 1 gonzalo gonzalo  19798 ene 21 18:08 Practice_Pandas_210119.ipynb
168 -rw-r--r-- 1 gonzalo gonzalo 171704 ene 21 12:57 06-intro_to_pandas_practical_AAF_mine.ipynb
536 -rw-r--r-- 1 gonzalo gonzalo 546843 ene 19 12:11 06-intro_to_pandas_practical_AAF.ipynb
472 -rw-r--r-- 1 gonzalo gonzalo 481391 ene 21 12:46 05-visualization_introduction_AAF_mine.ipynb
604 -rw-r--r-- 1 gonzalo gonzalo 616886 ene 21 12:46 05-visualization_introduction_AAF.ipynb
 68 -rw-r--r-- 1 gonzalo gonzalo  68362 ene 18 21:47 04-group_by_AAF_mine.ipynb
 80 -rw-r--r-- 1 gonzalo gonzalo  79751 ene 18 21:30 04-group_by_AAF.ipynb
112 -rw-r--r-- 1 gonzalo gonzalo 112856 ene 18 19:14 03-merge_concatenate_transform_mine.ipynb
 16 -rw-r--r-- 1 gonzalo gonzalo  14025 ene 18 17:11 03-merge_concatenate_transform_clean.ipynb

In [6]:
# Open readme

from IPython.display import IFrame
IFrame('readme.html', width=700, height=700)

In [7]:
! unzip -p {file_path}On_Time_On_Time_Performance_2015_8.zip | head -n 2

"Year","Quarter","Month","DayofMonth","DayOfWeek","FlightDate","UniqueCarrier","AirlineID","Carrier","TailNum","FlightNum","OriginAirportID","OriginAirportSeqID","OriginCityMarketID","Origin","OriginCityName","OriginState","OriginStateFips","OriginStateName","OriginWac","DestAirportID","DestAirportSeqID","DestCityMarketID","Dest","DestCityName","DestState","DestStateFips","DestStateName","DestWac","CRSDepTime","DepTime","DepDelay","DepDelayMinutes","DepDel15","DepartureDelayGroups","DepTimeBlk","TaxiOut","WheelsOff","WheelsOn","TaxiIn","CRSArrTime","ArrTime","ArrDelay","ArrDelayMinutes","ArrDel15","ArrivalDelayGroups","ArrTimeBlk","Cancelled","CancellationCode","Diverted","CRSElapsedTime","ActualElapsedTime","AirTime","Flights","Distance","DistanceGroup","CarrierDelay","WeatherDelay","NASDelay","SecurityDelay","LateAircraftDelay","FirstDepTime","TotalAddGTime","LongestAddGTime","DivAirportLandings","DivReachedDest","DivActualElapsedTime","DivArrDelay","DivDistance","Div1Airport","Div1AirportID","Div1AirportSeqID","Div1WheelsOn","Div1TotalGTime","Div1LongestGTime","Div1WheelsOff","Div1TailNum","Div2Airport","Div2AirportID","Div2AirportSeqID","Div2WheelsOn","Div2TotalGTime","Div2LongestGTime","Div2WheelsOff","Div2TailNum","Div3Airport","Div3AirportID","Div3AirportSeqID","Div3WheelsOn","Div3TotalGTime","Div3LongestGTime","Div3WheelsOff","Div3TailNum","Div4Airport","Div4AirportID","Div4AirportSeqID","Div4WheelsOn","Div4TotalGTime","Div4LongestGTime","Div4WheelsOff","Div4TailNum","Div5Airport","Div5AirportID","Div5AirportSeqID","Div5WheelsOn","Div5TotalGTime","Div5LongestGTime","Div5WheelsOff","Div5TailNum",
2015,3,8,2,7,2015-08-02,"AA",19805,"AA","N790AA","1",12478,1247803,31703,"JFK","New York, NY","NY","36","New York",22,12892,1289203,32575,"LAX","Los Angeles, CA","CA","06","California",91,"0900","0854",-6.00,0.00,0.00,-1,"0900-0959",25.00,"0919","1132",15.00,"1213","1147",-26.00,0.00,0.00,-2,"1200-1259",0.00,"",0.00,373.00,353.00,313.00,1.00,2475.00,10,,,,,,"",,,0,,,,,"",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","","",,,"",,,"","",

In [8]:
import os
import zipfile

In [9]:
list_files = os.listdir(file_path)
list_files

['history_20.txt',
 'On_Time_On_Time_Performance_2015_4.zip',
 'three_largest_file.txt',
 'On_Time_On_Time_Performance_2015_8.zip',
 'On_Time_On_Time_Performance_2015_1.zip',
 'history_20',
 'On_Time_On_Time_Performance_2015_2.zip',
 'On_Time_On_Time_Performance_2015_5.zip',
 'On_Time_On_Time_Performance_2015_7.zip',
 'On_Time_On_Time_Performance_2015_6.zip',
 'three_largest_files.txt',
 'On_Time_On_Time_Performance_2015_3.zip']

In [10]:
list_files[3]

'On_Time_On_Time_Performance_2015_8.zip'

In [11]:
zip_file = zipfile.ZipFile(file_path+list_files[3])
zip_file

In [12]:
zip_file.filelist

[<ZipInfo filename='On_Time_On_Time_Performance_2015_8.csv' compress_type=deflate filemode='-rw-r--r--' file_size=230183662 compress_size=25723470>,
 <ZipInfo filename='readme.html' compress_type=deflate filemode='-rw-r--r--' file_size=12054 compress_size=2208>]

In [13]:
csv, readme = zip_file.filelist

In [14]:
csv.filename

'On_Time_On_Time_Performance_2015_8.csv'

In [15]:
csv_file = zip_file.open(csv.filename)

In [16]:
import pandas as pd

In [17]:
df = pd.read_csv(csv_file)
df.head()

/home/gonzalo/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2015,3,8,2,7,2015-08-02,AA,19805,AA,N790AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,3,8,3,1,2015-08-03,AA,19805,AA,N784AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,3,8,4,2,2015-08-04,AA,19805,AA,N793AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,3,8,5,3,2015-08-05,AA,19805,AA,N787AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,3,8,6,4,2015-08-06,AA,19805,AA,N790AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
zip_file.close()
csv_file.close()

# Let's take a look

In [20]:
df.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2015,3,8,2,7,2015-08-02,AA,19805,AA,N790AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,3,8,3,1,2015-08-03,AA,19805,AA,N784AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,3,8,4,2,2015-08-04,AA,19805,AA,N793AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,3,8,5,3,2015-08-05,AA,19805,AA,N787AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,3,8,6,4,2015-08-06,AA,19805,AA,N790AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
#See the data
df.count()

Year                  510536
Quarter               510536
Month                 510536
DayofMonth            510536
DayOfWeek             510536
FlightDate            510536
UniqueCarrier         510536
AirlineID             510536
Carrier               510536
TailNum               509727
FlightNum             510536
OriginAirportID       510536
OriginAirportSeqID    510536
OriginCityMarketID    510536
Origin                510536
OriginCityName        510536
OriginState           510536
OriginStateFips       510536
OriginStateName       510536
OriginWac             510536
DestAirportID         510536
DestAirportSeqID      510536
DestCityMarketID      510536
Dest                  510536
DestCityName          510536
DestState             510536
DestStateFips         510536
DestStateName         510536
DestWac               510536
CRSDepTime            510536
                       ...
Div2WheelsOn              10
Div2TotalGTime            10
Div2LongestGTime          10
Div2WheelsOff              3
Div2TailNum                3
Div3Airport                0
Div3AirportID              0
Div3AirportSeqID           0
Div3WheelsOn               0
Div3TotalGTime             0
Div3LongestGTime           0
Div3WheelsOff              0
Div3TailNum                0
Div4Airport                0
Div4AirportID              0
Div4AirportSeqID           0
Div4WheelsOn               0
Div4TotalGTime             0
Div4LongestGTime           0
Div4WheelsOff              0
Div4TailNum                0
Div5Airport                0
Div5AirportID              0
Div5AirportSeqID           0
Div5WheelsOn               0
Div5TotalGTime             0
Div5LongestGTime           0
Div5WheelsOff              0
Div5TailNum                0
Unnamed: 109               0
Length: 110, dtype: int64

In [41]:
def remove_columns_with_few_data(df, low_limit_data_by_column):
    "Remove columns of dataframe with a low limit data number for columns"
    
    print('Number of columns before removing: %i' % df.count().size)
    columns_after_removing = df.count()[df.count() > low_limit_data_by_column].size
    print('Number of columns after removing: %i' % columns_after_removing)
    columns_removed = df.count().size - columns_after_removing
    print('Number of columns removed: %i' % columns_removed)

    df_modified = df[df.columns[df.count() > low_limit_data_by_column]]

In [40]:
remove_columns_with_few_data?